openapi: 3.2.0
info:
  title: Talkwalker Streaming Streaming API
  description: Talkwalker Advanced API
  version: 0.0.1
  contact:
    email: client-api@talkwalker.com
    name: Client-API
servers:
- description: Production environment server
  url: https://api.talkwalker.com
security:
- apikeyAuth: []
tags:
- name: Streaming API
paths:
  /api/v3/stream/info:
    get:
      description: Get the list of streams and collectors in your API subscription
      responses:
        '200':
          content:
            application/json:
              example:
                request: GET /api/v3/stream/info?access_token=abcd_1234_abcd
                request_id: '#r8ubtbnbrcz7#'
                result_stream:
                  collectors:
                  - collector_id: collector_1
                    state: ACTIVE
                  streams:
                  - enabled: true
                    stream_id: stream_1
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: List of streams and collectors
      tags:
      - Streaming API
  /api/v3/stream/p/{project_id}/results:
    get:
      parameters:
      - description: The query to search for
        example: electric AND car
        in: query
        name: q
        schema:
          type: string
      - description: 'Stops the stream after the given number of hits.

          If not set, it never stops.'
        example: '3'
        in: query
        name: max_hits
        schema:
          type: integer
      - description: One or more topics or panels that are defined in the Talkwalker project.
        in: query
        name: topic
        schema:
          type: string
      - description: One or more datasets that are defined in the Talkwalker Customer Intelligence project.
        in: query
        name: dataset
        schema:
          type: string
      - description: One or more custom filters that are defined in the Talkwalker project. The combination logic is the operator `AND` between the IDs if they are from different groups.
        in: query
        name: filter
        schema:
          type: string
      - description: One or more source panels that are defined in the Talkwalker project.
        in: query
        name: panel
        schema:
          type: string
      - example: a1ab1abc-a123-123a-123a-abcd12ab1a12
        in: path
        name: project_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              example: "{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"stream\": [\n            {\n                \"id\": \"\",\n                \"status\": \"active\"\n            }\n        ],\n        \"connection_id\": \"#r8vsbc480czh#\"\n    }\n}\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"matched_profile\": [\n                    \"kpnzh6u5_5imm9mo4kozc\"\n                ],\n                \"indexed\": 1647506787864,\n                \"search_indexed\": 1647506802583,\n                \"published\": 1647501074000,\n                \"title\": \"2022 World Car Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content\": \"2022 年World Car of The Year 世界年度風雲車決選即將到來，最終獲獎者將在今年 4 月紐約車展之前公佈，不過在此之前最終決選六大項目車款已經公佈，其中 World Car of The Year 最大獎全部都是電動車，這也是 2005 年首次推出此項目以來頭一次！ 今年的競爭者是 Ford Mustang Mach-E、KIA EV6和 Hyundai IONIQ 5。當然有人可能會說 EV6 和 IONIQ 5...\",\n                \"title_snippet\": \"2022 World <b>Car</b> Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content_snippet\": \"...<b>Car</b> Opel Mokka Toyota Yaris Cross Volkswagen Taigun World Luxury <b>Car</b> <b>BMW</b> iX Genesis GV70 Mercedes-Benz EQS World Performance <b>Car</b> Audi E-Tron GT <b>BMW</b> M3/M4 Toyota GR 86 / Subaru BRZ World <b>Car</b> Design Audi E-Tron GT Hyundai Ioniq 5 Kia EV6 要獲得 World <b>Car</b>...\",\n                \"root_url\": \"https://www.carstuff.com.tw/\",\n                \"domain_url\": \"http://carstuff.com.tw/\",\n                \"host_url\": \"http://www.carstuff.com.tw/\",\n                \"parent_url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"lang\": \"zh_tw\",\n                \"porn_level\": 0,\n                \"fluency_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 80,\n                \"noise_category\": \"promotions\",\n                \"tokens_title\": [\n                    \"全由\",\n                    \"carstuff\",\n                    \"year\",\n                    \"三強\",\n                    \"風\",\n                    \"電動\",\n                    \"2022\",\n                    \"車\",\n                    \"車\",\n                    \"車\"\n                ],\n                \"tokens_content\": [\n                    \"會\",\n                    \"year\",\n                    \"year\",\n                    \"year\",\n                    \"者\",\n                    \"者\",\n                    \"項\",\n                    \"項\",\n                    \"項\",\n                    \"將\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://www.carstuff.com.tw/media/k2/items/cache/003e564f1501d1f6fce2b3069590d0c7_XL.jpg\",\n                        \"width\": 1024,\n                        \"height\": 683\n                    }\n                ],\n                \"tags_internal\": [\n                    \"hasImage\",\n                    \"containsImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 820000,\n                    \"alexa_unique_visitors\": 341666\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.carstuff.com.tw-653980078\",\n                    \"name\": \"jason hu\",\n                    \"gender\": \"MALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"Taiwan\",\n                        \"region\": \"Taipei City\",\n                        \"city\": \"Taipei\",\n                        \"longitude\": 121.5692138671875,\n                        \"latitude\": 25.03509521484375,\n                        \"country_code\": \"tw\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.carstuff.com.tw\",\n                    \"name\": \"www.carstuff.com.tw\"\n                },\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 480,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"matched_profile\": [\n                    \"kpnzh6u5_5imm9mo4kozc\"\n                ],\n                \"indexed\": 1647506787864,\n                \"search_indexed\": 1647506798692,\n                \"published\": 1647501074000,\n                \"title\": \"2022 World Car Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content\": \"2022 年World Car of The Year 世界年度風雲車決選即將到來，最終獲獎者將在今年 4 月紐約車展之前公佈，不過在此之前最終決選六大項目車款已經公佈，其中 World Car of The Year 最大獎全部都是電動車，這也是 2005 年首次推出此項目以來頭一次！ 今年的競爭者是 Ford Mustang Mach-E、KIA EV6和 Hyundai IONIQ 5。當然有人可能會說 EV6 和 IONIQ 5...\",\n                \"title_snippet\": \"2022 World <b>Car</b> Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content_snippet\": \"...<b>Car</b> Opel Mokka Toyota Yaris Cross Volkswagen Taigun World Luxury <b>Car</b> <b>BMW</b> iX Genesis GV70 Mercedes-Benz EQS World Performance <b>Car</b> Audi E-Tron GT <b>BMW</b> M3/M4 Toyota GR 86 / Subaru BRZ World <b>Car</b> Design Audi E-Tron GT Hyundai Ioniq 5 Kia EV6 要獲得 World <b>Car</b>...\",\n                \"root_url\": \"https://www.carstuff.com.tw/\",\n                \"domain_url\": \"http://carstuff.com.tw/\",\n                \"host_url\": \"http://www.carstuff.com.tw/\",\n                \"parent_url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"lang\": \"zh_tw\",\n                \"porn_level\": 0,\n                \"fluency_level\": 0,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 80,\n                \"noise_category\": \"promotions\",\n                \"tokens_title\": [\n                    \"全由\",\n                    \"carstuff\",\n                    \"year\",\n                    \"三強\",\n                    \"風\",\n                    \"電動\",\n                    \"2022\",\n                    \"車\",\n                    \"車\",\n                    \"車\"\n                ],\n                \"tokens_content\": [\n                    \"會\",\n                    \"year\",\n                    \"year\",\n                    \"year\",\n                    \"者\",\n                    \"者\",\n                    \"項\",\n                    \"項\",\n                    \"項\",\n                    \"將\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://www.carstuff.com.tw/media/k2/items/cache/003e564f1501d1f6fce2b3069590d0c7_XL.jpg\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 820000,\n                    \"alexa_unique_visitors\": 341666\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.carstuff.com.tw-653980078\",\n                    \"name\": \"jason hu\",\n                    \"gender\": \"MALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"Taiwan\",\n                        \"region\": \"Taipei City\",\n                        \"city\": \"Taipei\",\n                        \"longitude\": 121.5692138671875,\n                        \"latitude\": 25.03509521484375,\n                        \"country_code\": \"tw\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.carstuff.com.tw\",\n                    \"name\": \"www.carstuff.com.tw\"\n                },\n                \"engagement\": 0,\n                \"reach\": 341666,\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 480,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n\n\n\n\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://hr.economictimes.indiatimes.com/news/workplace-4-0/workplace-ikigai/why-tesla-fired-an-employee-over-youtube-review/90286601\",\n                \"matched_profile\": [\n                    \"kpnutesu_5imm9mo4lbsj\"\n                ],\n                \"indexed\": 1647506889521,\n                \"search_indexed\": 1647506922562,\n                \"published\": 1647502562990,\n                \"title\": \"Why Tesla fired an employee over YouTube review\",\n                \"content\": \"San Francisco: Elon Musk-run Tesla has fired an employee who reviewed the electric car-maker's full self-driving (FSD) beta software on his YouTube channel.\\n\\nJohn Bernal posted the video that showed his Tesla hitting a b...\",\n                \"title_snippet\": \"Why <b>Tesla</b> fired an employee over YouTube review\",\n                \"content_snippet\": \"...Francisco: Elon Musk-run <b>Tesla</b> has fired an employee who reviewed the <b>electric</b> <b>car</b>-maker's full self-driving (FSD) beta ... investigations into <b>Tesla</b>'s autopilot system.\\n\\n<b>Tesla</b> FSD beta aims to enable <b>Tesla</b> vehicles to virtually drive themselves...\",\n                \"root_url\": \"https://hr.economictimes.indiatimes.com/\",\n                \"domain_url\": \"http://indiatimes.com/\",\n                \"host_url\": \"http://hr.economictimes.indiatimes.com/\",\n                \"parent_url\": \"https://hr.economictimes.indiatimes.com/news/workplace-4-0/workplace-ikigai/why-tesla-fired-an-employee-over-youtube-review/90286601\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"sentiment\": -5,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_NEWSPAPER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"Why Tesla fired\",\n                    \"over YouTube review\",\n                    \"Why Tesla\",\n                    \"Why Tesla\",\n                    \"over YouTube\",\n                    \"Tesla fired\",\n                    \"YouTube review\",\n                    \"Tesla\",\n                    \"Tesla\",\n                    \"YouTube\"\n                ],\n                \"tokens_content\": [\n                    \"Elon Musk-run Tesla\",\n                    \"Elon Musk-run Tesla\",\n                    \"National Highway Traffic\",\n                    \"Highway Traffic Safety\",\n                    \"Traffic Safety Administration\",\n                    \"Senators Richard Blumenthal\",\n                    \"Musk-run Tesla\",\n                    \"Musk-run Tesla\",\n                    \"Elon Musk-run\",\n                    \"Elon Musk-run\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 0,\n                    \"alexa_unique_visitors\": 0\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:hr.economictimes.indiatimes.com-2094486706\",\n                    \"name\": \"workplace ikigai\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"India\",\n                        \"region\": \"Delhi\",\n                        \"city\": \"New Delhi\",\n                        \"longitude\": 77.1954345703125,\n                        \"latitude\": 28.60015869140625,\n                        \"country_code\": \"in\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:hr.economictimes.indiatimes.com\",\n                    \"name\": \"hr.economictimes.indiatimes.com\"\n                },\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://hr.economictimes.indiatimes.com/tag/tesla\"\n                    },\n                    {\n                        \"url\": \"https://hr.economictimes.indiatimes.com/tag/john\"\n                    },\n                    {\n                        \"url\": \"https://hr.economictimes.indiatimes.com/tag/employees\"\n                    },\n                    {\n                        \"url\": \"https://img.etb2bimg.com/files/cp/upload-1626354070-ethr-default-thumb-image.jpg\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 456,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n\n\n\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://capitalstreetfx.in/markets-news/market-outlook-bonds/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases/\",\n                \"indexed\": 1647506950948,\n                \"search_indexed\": 1647506952191,\n                \"published\": 1647502640000,\n                \"title\": \"Tesla delays over $1 billion bond sale backed by auto leases\",\n                \"content\": \"Electric-car maker Tesla Inc delayed a more than $1 billion offering of bonds backed by leases on its electric vehicles, Bloomberg News reported on Wednesday.\\n\\nThe move follows “buy now, pay later” lender Affirm Holdings Inc’s announcement earlier this week to delay its bond offering.\\n\\nBond sales in the United States have ground to a halt after Russia’s invasion of Ukraine, adding to challenges the funding market is already facing as global central banks tighten monetary policies due to surging inflation.\\n\\nBankers for Tesla had already placed a significant portion of the bonds with fund managers before marketing was halted, the report said, citing people familiar with matter.\\n\\nTesla did not immediately respond to a Reuters’ request for comment.\\n\\nThe post Tesla delays over $1 billion bond sale backed by auto leases appeared first on Capital Street Fx - Online Stock/Share Market Trading & Low Brokerage.\",\n                \"title_snippet\": \"<b>Tesla</b> delays over $1 billion bond sale backed by auto leases\",\n                \"content_snippet\": \"<b>Electric</b>-<b>car</b> maker <b>Tesla</b> Inc delayed a more than $1 billion offering of bonds backed by leases on its <b>electric</b> vehicles ... with matter.\\n\\n<b>Tesla</b> did not immediately respond to a Reuters’ request for comment.\\n\\nThe post <b>Tesla</b> delays over $1 billion...\",\n                \"root_url\": \"https://capitalstreetfx.in/\",\n                \"domain_url\": \"http://capitalstreetfx.in/\",\n                \"host_url\": \"http://capitalstreetfx.in/\",\n                \"parent_url\": \"https://capitalstreetfx.in/markets-news/market-outlook-bonds/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases/\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"BLOG\",\n                    \"BLOG_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 98,\n                \"noise_category\": \"financial_news\",\n                \"tokens_title\": [\n                    \"sale backed\",\n                    \"auto leases\",\n                    \"Tesla delays\",\n                    \"billion bond\",\n                    \"Tesla\",\n                    \"Tesla\",\n                    \"leases\",\n                    \"auto\",\n                    \"billion\",\n                    \"delays\"\n                ],\n                \"tokens_content\": [\n                    \"Share Market Trading\",\n                    \"Share Market\",\n                    \"Online Stock\",\n                    \"Market Trading\",\n                    \"Capital Street\",\n                    \"Low Brokerage\",\n                    \"Affirm Holdings\",\n                    \"Bloomberg News\",\n                    \"Tesla\",\n                    \"Tesla\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases.jpg\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 500000,\n                    \"alexa_unique_visitors\": 79365\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:capitalstreetfx.in-3063106\",\n                    \"name\": \"CSFX\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"India\",\n                        \"region\": \"Delhi\",\n                        \"city\": \"New Delhi\",\n                        \"longitude\": 77.1954345703125,\n                        \"latitude\": 28.60015869140625,\n                        \"country_code\": \"in\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:capitalstreetfx.in\",\n                    \"name\": \"capitalstreetfx.in\"\n                },\n                \"engagement\": 0,\n                \"reach\": 79365,\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://img.etimg.com/thumb/msid-90286764\"\n                    },\n                    {\n                        \"url\": \"https://economictimes.indiatimes.com/topic/tesla\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases-150x150.jpg\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases-500x500.jpg\"\n                    },\n                    {\n                        \"url\": \"https://economictimes.indiatimes.com/topic/bloomberg\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases-100x100.jpg\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/markets-news/market-outlook-bonds/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases/\"\n                    },\n                    {\n                        \"url\": \"https://economictimes.indiatimes.com/topic/bond-sales\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 146,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"stream\": [\n            {\n                \"id\": \"\",\n                \"status\": \"active\"\n            }\n        ],\n        \"connection_id\": \"#r8vsbc480czh#\"\n    }\n}"
              schema:
                type: string
          description: OK
      summary: Listen on a specific project
      tags:
      - Streaming API
    post:
      parameters:
      - example: '3'
        in: query
        name: max_hits
        schema:
          type: integer
      - description: One or more topics or panels that are defined in the Talkwalker project.
        in: query
        name: topic
        schema:
          type: string
      - description: One or more datasets that are defined in the Talkwalker Customer Intelligence project.
        in: query
        name: dataset
        schema:
          type: string
      - description: One or more custom filters that are defined in the Talkwalker project. The combination logic is the operator `AND` between the IDs if they are from different groups.
        in: query
        name: filter
        schema:
          type: string
      - description: One or more source panels that are defined in the Talkwalker project.
        in: query
        name: panel
        schema:
          type: string
      - example: a1ab1abc-a123-123a-123a-abcd12ab1a12
        in: path
        name: project_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                q: electric AND car
              type: object
      responses:
        '200':
          content:
            text/plain:
              example: "{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"stream\": [\n            {\n                \"id\": \"\",\n                \"status\": \"active\"\n            }\n        ],\n        \"connection_id\": \"#r8vsbc480czh#\"\n    }\n}\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"matched_profile\": [\n                    \"kpnzh6u5_5imm9mo4kozc\"\n                ],\n                \"indexed\": 1647506787864,\n                \"search_indexed\": 1647506802583,\n                \"published\": 1647501074000,\n                \"title\": \"2022 World Car Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content\": \"2022 年World Car of The Year 世界年度風雲車決選即將到來，最終獲獎者將在今年 4 月紐約車展之前公佈，不過在此之前最終決選六大項目車款已經公佈，其中 World Car of The Year 最大獎全部都是電動車，這也是 2005 年首次推出此項目以來頭一次！ 今年的競爭者是 Ford Mustang Mach-E、KIA EV6和 Hyundai IONIQ 5。當然有人可能會說 EV6 和 IONIQ 5...\",\n                \"title_snippet\": \"2022 World <b>Car</b> Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content_snippet\": \"...<b>Car</b> Opel Mokka Toyota Yaris Cross Volkswagen Taigun World Luxury <b>Car</b> <b>BMW</b> iX Genesis GV70 Mercedes-Benz EQS World Performance <b>Car</b> Audi E-Tron GT <b>BMW</b> M3/M4 Toyota GR 86 / Subaru BRZ World <b>Car</b> Design Audi E-Tron GT Hyundai Ioniq 5 Kia EV6 要獲得 World <b>Car</b>...\",\n                \"root_url\": \"https://www.carstuff.com.tw/\",\n                \"domain_url\": \"http://carstuff.com.tw/\",\n                \"host_url\": \"http://www.carstuff.com.tw/\",\n                \"parent_url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"lang\": \"zh_tw\",\n                \"porn_level\": 0,\n                \"fluency_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 80,\n                \"noise_category\": \"promotions\",\n                \"tokens_title\": [\n                    \"全由\",\n                    \"carstuff\",\n                    \"year\",\n                    \"三強\",\n                    \"風\",\n                    \"電動\",\n                    \"2022\",\n                    \"車\",\n                    \"車\",\n                    \"車\"\n                ],\n                \"tokens_content\": [\n                    \"會\",\n                    \"year\",\n                    \"year\",\n                    \"year\",\n                    \"者\",\n                    \"者\",\n                    \"項\",\n                    \"項\",\n                    \"項\",\n                    \"將\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://www.carstuff.com.tw/media/k2/items/cache/003e564f1501d1f6fce2b3069590d0c7_XL.jpg\",\n                        \"width\": 1024,\n                        \"height\": 683\n                    }\n                ],\n                \"tags_internal\": [\n                    \"hasImage\",\n                    \"containsImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 820000,\n                    \"alexa_unique_visitors\": 341666\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.carstuff.com.tw-653980078\",\n                    \"name\": \"jason hu\",\n                    \"gender\": \"MALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"Taiwan\",\n                        \"region\": \"Taipei City\",\n                        \"city\": \"Taipei\",\n                        \"longitude\": 121.5692138671875,\n                        \"latitude\": 25.03509521484375,\n                        \"country_code\": \"tw\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.carstuff.com.tw\",\n                    \"name\": \"www.carstuff.com.tw\"\n                },\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 480,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"matched_profile\": [\n                    \"kpnzh6u5_5imm9mo4kozc\"\n                ],\n                \"indexed\": 1647506787864,\n                \"search_indexed\": 1647506798692,\n                \"published\": 1647501074000,\n                \"title\": \"2022 World Car Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content\": \"2022 年World Car of The Year 世界年度風雲車決選即將到來，最終獲獎者將在今年 4 月紐約車展之前公佈，不過在此之前最終決選六大項目車款已經公佈，其中 World Car of The Year 最大獎全部都是電動車，這也是 2005 年首次推出此項目以來頭一次！ 今年的競爭者是 Ford Mustang Mach-E、KIA EV6和 Hyundai IONIQ 5。當然有人可能會說 EV6 和 IONIQ 5...\",\n                \"title_snippet\": \"2022 World <b>Car</b> Of The Year 世界年度風雲車前三強出爐、首次全由電動車爭奪大獎！ - CarStuff 人車事\",\n                \"content_snippet\": \"...<b>Car</b> Opel Mokka Toyota Yaris Cross Volkswagen Taigun World Luxury <b>Car</b> <b>BMW</b> iX Genesis GV70 Mercedes-Benz EQS World Performance <b>Car</b> Audi E-Tron GT <b>BMW</b> M3/M4 Toyota GR 86 / Subaru BRZ World <b>Car</b> Design Audi E-Tron GT Hyundai Ioniq 5 Kia EV6 要獲得 World <b>Car</b>...\",\n                \"root_url\": \"https://www.carstuff.com.tw/\",\n                \"domain_url\": \"http://carstuff.com.tw/\",\n                \"host_url\": \"http://www.carstuff.com.tw/\",\n                \"parent_url\": \"https://www.carstuff.com.tw/car-news/item/35897-2022-world-car-of-the-year.html\",\n                \"lang\": \"zh_tw\",\n                \"porn_level\": 0,\n                \"fluency_level\": 0,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 80,\n                \"noise_category\": \"promotions\",\n                \"tokens_title\": [\n                    \"全由\",\n                    \"carstuff\",\n                    \"year\",\n                    \"三強\",\n                    \"風\",\n                    \"電動\",\n                    \"2022\",\n                    \"車\",\n                    \"車\",\n                    \"車\"\n                ],\n                \"tokens_content\": [\n                    \"會\",\n                    \"year\",\n                    \"year\",\n                    \"year\",\n                    \"者\",\n                    \"者\",\n                    \"項\",\n                    \"項\",\n                    \"項\",\n                    \"將\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://www.carstuff.com.tw/media/k2/items/cache/003e564f1501d1f6fce2b3069590d0c7_XL.jpg\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 820000,\n                    \"alexa_unique_visitors\": 341666\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.carstuff.com.tw-653980078\",\n                    \"name\": \"jason hu\",\n                    \"gender\": \"MALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"Taiwan\",\n                        \"region\": \"Taipei City\",\n                        \"city\": \"Taipei\",\n                        \"longitude\": 121.5692138671875,\n                        \"latitude\": 25.03509521484375,\n                        \"country_code\": \"tw\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.carstuff.com.tw\",\n                    \"name\": \"www.carstuff.com.tw\"\n                },\n                \"engagement\": 0,\n                \"reach\": 341666,\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 480,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n\n\n\n\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://hr.economictimes.indiatimes.com/news/workplace-4-0/workplace-ikigai/why-tesla-fired-an-employee-over-youtube-review/90286601\",\n                \"matched_profile\": [\n                    \"kpnutesu_5imm9mo4lbsj\"\n                ],\n                \"indexed\": 1647506889521,\n                \"search_indexed\": 1647506922562,\n                \"published\": 1647502562990,\n                \"title\": \"Why Tesla fired an employee over YouTube review\",\n                \"content\": \"San Francisco: Elon Musk-run Tesla has fired an employee who reviewed the electric car-maker's full self-driving (FSD) beta software on his YouTube channel.\\n\\nJohn Bernal posted the video that showed his Tesla hitting a b...\",\n                \"title_snippet\": \"Why <b>Tesla</b> fired an employee over YouTube review\",\n                \"content_snippet\": \"...Francisco: Elon Musk-run <b>Tesla</b> has fired an employee who reviewed the <b>electric</b> <b>car</b>-maker's full self-driving (FSD) beta ... investigations into <b>Tesla</b>'s autopilot system.\\n\\n<b>Tesla</b> FSD beta aims to enable <b>Tesla</b> vehicles to virtually drive themselves...\",\n                \"root_url\": \"https://hr.economictimes.indiatimes.com/\",\n                \"domain_url\": \"http://indiatimes.com/\",\n                \"host_url\": \"http://hr.economictimes.indiatimes.com/\",\n                \"parent_url\": \"https://hr.economictimes.indiatimes.com/news/workplace-4-0/workplace-ikigai/why-tesla-fired-an-employee-over-youtube-review/90286601\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"sentiment\": -5,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_NEWSPAPER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"Why Tesla fired\",\n                    \"over YouTube review\",\n                    \"Why Tesla\",\n                    \"Why Tesla\",\n                    \"over YouTube\",\n                    \"Tesla fired\",\n                    \"YouTube review\",\n                    \"Tesla\",\n                    \"Tesla\",\n                    \"YouTube\"\n                ],\n                \"tokens_content\": [\n                    \"Elon Musk-run Tesla\",\n                    \"Elon Musk-run Tesla\",\n                    \"National Highway Traffic\",\n                    \"Highway Traffic Safety\",\n                    \"Traffic Safety Administration\",\n                    \"Senators Richard Blumenthal\",\n                    \"Musk-run Tesla\",\n                    \"Musk-run Tesla\",\n                    \"Elon Musk-run\",\n                    \"Elon Musk-run\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 0,\n                    \"alexa_unique_visitors\": 0\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:hr.economictimes.indiatimes.com-2094486706\",\n                    \"name\": \"workplace ikigai\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"India\",\n                        \"region\": \"Delhi\",\n                        \"city\": \"New Delhi\",\n                        \"longitude\": 77.1954345703125,\n                        \"latitude\": 28.60015869140625,\n                        \"country_code\": \"in\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:hr.economictimes.indiatimes.com\",\n                    \"name\": \"hr.economictimes.indiatimes.com\"\n                },\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://hr.economictimes.indiatimes.com/tag/tesla\"\n                    },\n                    {\n                        \"url\": \"https://hr.economictimes.indiatimes.com/tag/john\"\n                    },\n                    {\n                        \"url\": \"https://hr.economictimes.indiatimes.com/tag/employees\"\n                    },\n                    {\n                        \"url\": \"https://img.etb2bimg.com/files/cp/upload-1626354070-ethr-default-thumb-image.jpg\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 456,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n\n\n\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://capitalstreetfx.in/markets-news/market-outlook-bonds/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases/\",\n                \"indexed\": 1647506950948,\n                \"search_indexed\": 1647506952191,\n                \"published\": 1647502640000,\n                \"title\": \"Tesla delays over $1 billion bond sale backed by auto leases\",\n                \"content\": \"Electric-car maker Tesla Inc delayed a more than $1 billion offering of bonds backed by leases on its electric vehicles, Bloomberg News reported on Wednesday.\\n\\nThe move follows “buy now, pay later” lender Affirm Holdings Inc’s announcement earlier this week to delay its bond offering.\\n\\nBond sales in the United States have ground to a halt after Russia’s invasion of Ukraine, adding to challenges the funding market is already facing as global central banks tighten monetary policies due to surging inflation.\\n\\nBankers for Tesla had already placed a significant portion of the bonds with fund managers before marketing was halted, the report said, citing people familiar with matter.\\n\\nTesla did not immediately respond to a Reuters’ request for comment.\\n\\nThe post Tesla delays over $1 billion bond sale backed by auto leases appeared first on Capital Street Fx - Online Stock/Share Market Trading & Low Brokerage.\",\n                \"title_snippet\": \"<b>Tesla</b> delays over $1 billion bond sale backed by auto leases\",\n                \"content_snippet\": \"<b>Electric</b>-<b>car</b> maker <b>Tesla</b> Inc delayed a more than $1 billion offering of bonds backed by leases on its <b>electric</b> vehicles ... with matter.\\n\\n<b>Tesla</b> did not immediately respond to a Reuters’ request for comment.\\n\\nThe post <b>Tesla</b> delays over $1 billion...\",\n                \"root_url\": \"https://capitalstreetfx.in/\",\n                \"domain_url\": \"http://capitalstreetfx.in/\",\n                \"host_url\": \"http://capitalstreetfx.in/\",\n                \"parent_url\": \"https://capitalstreetfx.in/markets-news/market-outlook-bonds/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases/\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"BLOG\",\n                    \"BLOG_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 98,\n                \"noise_category\": \"financial_news\",\n                \"tokens_title\": [\n                    \"sale backed\",\n                    \"auto leases\",\n                    \"Tesla delays\",\n                    \"billion bond\",\n                    \"Tesla\",\n                    \"Tesla\",\n                    \"leases\",\n                    \"auto\",\n                    \"billion\",\n                    \"delays\"\n                ],\n                \"tokens_content\": [\n                    \"Share Market Trading\",\n                    \"Share Market\",\n                    \"Online Stock\",\n                    \"Market Trading\",\n                    \"Capital Street\",\n                    \"Low Brokerage\",\n                    \"Affirm Holdings\",\n                    \"Bloomberg News\",\n                    \"Tesla\",\n                    \"Tesla\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases.jpg\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 500000,\n                    \"alexa_unique_visitors\": 79365\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:capitalstreetfx.in-3063106\",\n                    \"name\": \"CSFX\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"India\",\n                        \"region\": \"Delhi\",\n                        \"city\": \"New Delhi\",\n                        \"longitude\": 77.1954345703125,\n                        \"latitude\": 28.60015869140625,\n                        \"country_code\": \"in\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:capitalstreetfx.in\",\n                    \"name\": \"capitalstreetfx.in\"\n                },\n                \"engagement\": 0,\n                \"reach\": 79365,\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://img.etimg.com/thumb/msid-90286764\"\n                    },\n                    {\n                        \"url\": \"https://economictimes.indiatimes.com/topic/tesla\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases-150x150.jpg\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases-500x500.jpg\"\n                    },\n                    {\n                        \"url\": \"https://economictimes.indiatimes.com/topic/bloomberg\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/wp-content/uploads/2022/03/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases-100x100.jpg\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in/markets-news/market-outlook-bonds/tesla-delays-over-1-billion-bond-sale-backed-by-auto-leases/\"\n                    },\n                    {\n                        \"url\": \"https://economictimes.indiatimes.com/topic/bond-sales\"\n                    },\n                    {\n                        \"url\": \"https://capitalstreetfx.in\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 146,\n                \"docscore\": {\n                    \"test_score\": 1.0\n                }\n            }\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"stream\": [\n            {\n                \"id\": \"\",\n                \"status\": \"active\"\n            }\n        ],\n        \"connection_id\": \"#r8vsbc480czh#\"\n    }\n}"
              schema:
                type: string
          description: OK
      summary: Listen on a specific project - POST method
      tags:
      - Streaming API
  /api/v3/stream/s/{stream_id}:
    delete:
      parameters:
      - example: stream_1
        in: path
        name: stream_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request: DELETE /api/v3/stream/s/stream_1?access_token=abcd_1234_abcd
                request_id: '#r8vs0bndk038#'
                result_stream:
                  data:
                  - enabled: true
                    rules:
                    - query: cats AND dogs
                      rule_id: rule_1
                    stream_id: stream_1
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Delete a stream
      tags:
      - Streaming API
    get:
      parameters:
      - example: stream_1
        in: path
        name: stream_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request: GET /api/v3/stream/s/stream_1?access_token=abcd_1234_abcd
                request_id: '#r8ug02quyhun#'
                result_stream:
                  data:
                  - enabled: true
                    rules:
                    - query: cats AND dogs
                      rule_id: rule_1
                    stream_id: stream_1
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
        '404':
          content:
            application/json:
              example:
                request: GET /api/v3/stream/s/stream_2?access_token=abcd_1234_abcd
                request_id: '#r8ufyunv6z3g#'
                result_error:
                  data:
                  - key: stream_id
                    value:
                    - stream_2
                status_code: '15'
                status_message: Wrong stream id. No such stream defined.
              schema:
                type: object
          description: Not Found
      summary: Get stream definition
      tags:
      - Streaming API
    put:
      parameters:
      - example: stream_1
        in: path
        name: stream_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                rules:
                - query: cats AND dogs
                  rule_id: rule_1
              type: object
      responses:
        '200':
          content:
            application/json:
              example:
                request: PUT /api/v3/stream/s/stream_1?access_token=abcd_1234_abcd
                request_id: '#r8ufc4n77y7r#'
                result_stream:
                  data:
                  - enabled: true
                    rules:
                    - query: cats AND dogs
                      rule_id: rule_1
                    stream_id: stream_1
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Create or replace a stream
      tags:
      - Streaming API
  /api/v3/stream/s/{stream_id}/results:
    get:
      parameters:
      - description: The query to search for
        example: animal
        in: query
        name: q
        schema:
          type: string
      - description: 'Stops the stream after the given number of hits.

          If not set, it never stops.'
        example: '3'
        in: query
        name: max_hits
        schema:
          type: integer
      - example: stream_1
        in: path
        name: stream_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              example: "{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"stream\": [\n            {\n                \"id\": \"stream_1\",\n                \"status\": \"active\"\n            }\n        ],\n        \"connection_id\": \"#r8vr7emazsnh#\"\n    }\n}\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://petrescuereport.com/2022/maxed-out-shelter-receives-41-dogs-and-cats-that-were-seized-from-one-owner/\",\n                \"indexed\": 1647043131375,\n                \"search_indexed\": 1647043149277,\n                \"published\": 1647031079000,\n                \"title\": \"Maxed out shelter receives 41 dogs and cats that were seized from one owner\",\n                \"content\": \"An animal shelter in Williamson County, Texas, has taken in 41 dogs and cats from a single residence; the animals were seized by the authorities in a possible cruelty case. On Friday, the animal shelter wrote a public plea for help on Facebook:\\n\\nHere’s the current status at the shelter. Late last night, we took in 39 dogs and 2 cats from a single location in Liberty Hill. We were already out of kennel space before this happened. WE NEED YOUR HELP URGENTLY! We need adopters and fosters for the dogs that were already at the shelter to make room for the ones that arrived late last night so we can move them out of crates and into kennels.\\n\\nSpecifying items that are needed to help care for the influx of animals:\\n\\nPaper lunch bags, Blankets and towels, Science Diet dog kibble\\n\\nAnd information for people interested in adopting or fostering:\\n\\nAdopters, email adoption@wilco.org. Fosters, fill out our Foster Application: https://forms.wilco.org/Forms/as_foster_app\\n\\nA news release from the sheriff’s office outlines the specifics of the seizure:\\n\\nOn March 10, 2022 the Williamson County Sheriff’s Office Animal Control Unit seized 41 animals from a private residence that were involved with a possible Animal Cruelty situation. The animals were safely impounded, with the assistance of their owner, and transported to the Williamson County Regional Animal Shelter. The animals are being assessed by shelter staff to determine the needs of their medical care, and overall health.\\n\\nRead  more: Chance continues to wait for someone to choose him  – he has been at the shelter for 7 years\",\n                \"title_snippet\": \"Maxed out shelter receives 41 dogs and cats that were seized from one owner\",\n                \"content_snippet\": \"...Office <b>Animal</b> Control Unit seized 41 animals from a private residence that were involved with a possible <b>Animal</b> Cruelty ... transported to the Williamson County Regional <b>Animal</b> Shelter. The animals are being assessed by shelter staff to determine...\",\n                \"root_url\": \"https://petrescuereport.com/\",\n                \"domain_url\": \"http://petrescuereport.com/\",\n                \"host_url\": \"http://petrescuereport.com/\",\n                \"parent_url\": \"https://petrescuereport.com/2022/maxed-out-shelter-receives-41-dogs-and-cats-that-were-seized-from-one-owner/\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"BLOG\",\n                    \"BLOG_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"out shelter receives\",\n                    \"shelter receives\",\n                    \"and cats\",\n                    \"one owner\",\n                    \"out shelter\",\n                    \"were seized\",\n                    \"Maxed\",\n                    \"Maxed\",\n                    \"owner\",\n                    \"shelter\"\n                ],\n                \"tokens_content\": [\n                    \"Williamson County Sheriff\",\n                    \"Regional Animal Shelter\",\n                    \"County Regional Animal\",\n                    \"Williamson County Regional\",\n                    \"Office Animal Control\",\n                    \"Animal Control Unit\",\n                    \"Williamson County\",\n                    \"Williamson County\",\n                    \"Williamson County\",\n                    \"Science Diet\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://petrescuereport.com/wp-content/uploads/275071485_10159167254119234_4412389042081231674_n.jpg\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"article_extended_attributes\": {\n                    \"twitter_shares\": 37\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 10000,\n                    \"alexa_unique_visitors\": 10000\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:petrescuereport.com-1925391546\",\n                    \"name\": \"Penny Eims\",\n                    \"gender\": \"FEMALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"New Jersey\",\n                        \"city\": \"Trenton, New Jersey\",\n                        \"longitude\": -74.7454833984375,\n                        \"latitude\": 40.21820068359375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"REGION\"\n                    },\n                    \"id\": \"ex:petrescuereport.com\",\n                    \"name\": \"petrescuereport.com\"\n                },\n                \"engagement\": 37,\n                \"reach\": 10000,\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://forms.wilco.org/Forms/as_foster_app\",\n                        \"resolved_url\": \"https://forms.wilco.org/Forms/as_foster_app\"\n                    },\n                    {\n                        \"url\": \"https://rumble.com/embed/vuaks5/?pub=h0ef#?secret=B9eYxQAMN7\"\n                    },\n                    {\n                        \"url\": \"https://petrescuereport.com/wp-content/uploads/animals-1-1030x555.png\"\n                    },\n                    {\n                        \"url\": \"https://forms.wilco.org/Forms/as_foster_app?fbclid=IwAR0bxRU1GVT9GBjzw05VR1zCeQRogfH1uaJPS2fblMd6jiu3Z0t8v37tkiI\"\n                    },\n                    {\n                        \"url\": \"https://petrescuereport.com/wp-content/uploads/find-joy-1.png\"\n                    },\n                    {\n                        \"url\": \"https://static.xx.fbcdn.net/images/emoji.php/v9/tba/2/16/2b55.png\"\n                    },\n                    {\n                        \"url\": \"https://petrescuereport.com/2022/help-chance-find-a-home-after-being-at-texas-shelter-for-7-years/\"\n                    },\n                    {\n                        \"url\": \"https://petrescuereport.com/wp-content/uploads/karma-gray.png\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 261,\n                \"trending_score\": 2\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Maxed out shelter receives 41 <b>dogs</b> and <b>cats</b> that were seized from one owner\",\n                    \"content_snippet\": \"An <b>animal</b> shelter in Williamson County, Texas, has taken in 41 <b>dogs</b> and <b>cats</b> from a single residence; the ... shelter. Late last night, we took in 39 <b>dogs</b> and 2 <b>cats</b> from a single location in Liberty Hill. We were already out of...\",\n                    \"matched\": {\n                        \"rule_id\": \"rule_1\",\n                        \"stream_id\": \"stream_1\"\n                    }\n                }\n            ]\n        }\n    }\n}\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"http://www.reddit.com/r/Amazon__Deals_/comments/tg4vei/amazon_deal_forticept_blue_butter_antimicrobial/\",\n                \"indexed\": 1647505387292,\n                \"search_indexed\": 1647505424581,\n                \"published\": 1647503377000,\n                \"title\": \"\\uD83D\\uDD25Amazon Deal\\uD83D\\uDD25 Forticept Blue Butter Antimicrobial Gel, Antiseptic Hydrogel Dogs Wound Care, Dogs & Cats for Skin Infections, Rashes, Sores, Wounds, Burns | 4 OZ\",\n                \"content\": \"### [\\uD83D\\uDCB0Save on Amazon!\\uD83D\\uDCB0](https://www.amazon.com/Forticept-Antimicrobial-Antiseptic-Infections-Scratches/dp/B07JC2T1Z1/ref=sr_1_563?qid=1647139678&s=pet-supplies&sr=1-563&tag=slavasrecipes-20) FIRST-AID SOLUTION FOR BETTER WOUND CARE: Keep Blue Butter wound treatment gel on hand for all your pet's first aid and skin care needs. Forticept utilizes unique technology to power Blue Butter anti itch gel for the best way to treat cuts, scrapes promote the healing of wounds, sores, rashes, and resolve various skin infections, including canine pyoderma, acne, yeast infection, ringworm. Blue Butter is an effective dogs wound treatment. PROMOTES HEALING: Blue Butter hot spot treatment gel effectively disinfects wounds and creates an optimal environment for ultimate healing. Blue Butter dogs wound care ointment helps prevent skin infections in acute wounds. Safe to use for continues applications on any area of the skin. Starts working after the very first application. COMPLETELY SAFE AND NON-TOXIC: Blue Butter is a safer alternative to antibiotics and steroids for proper wound management. The non-toxic pH-balanced formula is safe for the entire family, from newborns to elderly adults, in addition, it is safe enough to use around sensitive areas like ears, nose, and mouth. GENTLE NONE IRRITATING WOUND DRESSING: Blue Butter has no alcohol, iodine, or any other ingredients that would cause burning, stinging or irritation during application. Veterinars recommende for dogs wound care and ringworm treatment. Effective wound treatment for dog. CLINICALLY PROVEN AND VETERINARY DOCTORS RECOMMENDED: Blue Butter uses similar active ingredients, to what is currently being used in numerous veterinary clinics and animal hospitals, helping veterinarians, and pet owners, successfully manage complex skin and wound infections. ### [Best Deal On Amazon!](https://www.amazon.com/Forticept-Antimicrobial-Antiseptic-Infections-Scratches/dp/B07JC2T1Z1/ref=sr_1_563?qid=1647139678&s=pet-supplies&sr=1-563&tag=slavasrecipes-20) ## FAQ : ### Reviews : TheDoctor 5.0 out of 5 stars Best Stuff Ever Made!!!!!! Reviewed in the United States on August 13, 2019 Verified Purchase Let me till all of you that are on the fence about buying this for there pet for injuries. This Blue Butter is the most amazing stuff ever created...Not only did it heal ANYTHING and EVERYTHING I put it on for my dog and my vet loves that I bought this for our dog. He said that this stuff will actually grab onto the wound and stay on for 12 hours even if you can't see it anymore it is still working and keeping the wound clean as well. Also, I have a confession to make. I had the idea to try it out on my toe to kill my toe fungus. IT WORKED!!!!! I have had my toe fungus for 16 years, not kidding. I have tried EVERYTHING to kill it, from herbal remedies to over the counter meds to doctors. It always came back and then about 3 years ago I lost half the battle and I no longer have a toe nail. Until I used this product on my exposed toe bed. I would put a good amount of the blue butter on my toe and then put a band-aid on my toe and then after about 5 hours I would remove the band aid and let my toe air dry. ALL the fungus died in a week on doing this, and my toe nail is finally growing back. I am sooo excited to have a healthy toe nail growing back. So this stuff can be used on humans as well as animals and it has become a permanent part of my first aid kit from now on. Buy it you won't regret it I promise. 358 people found this helpful Helpful Pepper 5.0 out of 5 stars Keep this on hand for your furry friends! Reviewed in the United States on October 4, 2020 Verified Purchase Bought this without much expectation but then... I was completely blown away. I recently ‘acquired’ a female stray cat that had badly injured her back leg. It was swollen and bleeding but she was feral at the time and I couldn’t get close enough to treat it. This was during the shutdown so I knew I was on my own to try and help this little girl. Gradually it seemed to heal and she had a litter of kittens beside my house. I made a pest of myself trying to befriend this cat so I could bring her and the babies inside a safe environment. She grew to trust me and allowed me to pet her and handle the kittens. Eventually I got her inside and was even able to lift her up for brief moments. I realized the leg hadn’t healed and looked very infected. She’d been limping from the injury for weeks. I was worried and started looking up ointments that I could use and found this one. I put it on her leg one time. Just once- because that’s all she’d allow. I thought she would try to lick it off but she didn’t. It seemed to give her almost immediate relief. The swelling went down, the sore stopped draining and a healthy scab formed. The fur grew over the tiny scars and there’s absolutely no sign of injury! She is now my best friend, sweetest, friendliest cat around, completely trusts me and adores being the focus of my full attention. Sorry for the long story but I felt it was important to explain why I was amazed at how beneficial this product was for this injured, once-feral cat. I will keep this around on a regular basis from now on. Highly recommend 217 people found this helpful Helpful DL 5.0 out of 5 stars Magic cream?! Reviewed in the United States on March 19, 2019 Verified PurchaseEarly Reviewer Rewards(What's this?) I was very skeptical at first of all the claims this cream said it could do... well, what a pleasant surprise...! I am SO GLAD I found this! I have a rescue pit bull who has very bad environmental allergies. She gets immunotherapy injections but still gets bad flare ups during certain seasons. She had a very raw oozing hot spot and many bumps down her groin (pyoderma) I put this cream on after her medicated bath along with an e-cone and she was pretty much completely healed in 3 days!! It even made her fur grow back and the bumps did not get infected. I was very shocked at how well this actually works. Lots of creams out there and I’ve tried them all prescription through my many vets she has seen and OTC. Hands down, blue butter is the best I’ve encountered. Thank you! Wish I knew about it sooner! 139 people found this helpful Helpful Eddy Morgan 5.0 out of 5 stars Great product. Easy to use, works well Reviewed in the United States on August 7, 2019 Verified Purchase My dog recently had surgery, removing several tumors. The procedure itself went very well. However, the wounds were slow to heal as my dog was constantly licking and chewing the incision sites. A friend of mine has suggested using Blue Butter with Maxi-Wash to clean and heal the wounds. The combination of the two worked very well. Chewing and licking have stopped after the second application, and after a week the wounds were almost completely healed. Overall I am very pleased. I hope we don't need any more surgery's or have any future wounds, but if we do, I would use this product again. 81 people found this helpful Helpful Beate 5.0 out of 5 stars This cured my dog's bacterial rash! Reviewed in the United States on October 21, 2019 Verified Purchase My mix-breed Bear had a bacterial infection, on the skin on his groin, about 2 inches wide, that would not go away! The vet gave him antibiotics, and while they did help some, it would come right back after the antibiotics were gone. He had this for several months, and it was very frustrating even though it did not bother him much. The vet checked for fungus which it was not. Then I saw this Forticept Blue Butter on Amazon, after reading online at different Pet MD sites that for backterial skin infections in dogs it is better to use topical treatments rather than antibiotics. Well, the results were immediate, within 3 days it was so much better that I knew this would be the solution. I followed the instructions and used it for 9 days or so twice a day (it says to discontinue after a week if it is not doing anything) and after that it was really ALMOST gone, just a weak pinkish spot left. I then put some on it once a week for the next 3 weeks, and it continued to work and now it is healed! I am so happy! And it is non-toxic, he did not lick it either! Truly a miraculous treatment.!!! 66 people found this helpful Helpful Coffee Addict 5.0 out of 5 stars Its Bluemazing!!! Reviewed in the United States on February 8, 2019 Verified PurchaseEarly Reviewer Rewards(What's this?) I think it heals wounds very quickly, but besides the healing properties what I like the most is the color! my dog is white and using betadine or iodine is not what I would want to use, the stains don't come off the coat for a long time, that left me with either clear iodine or peroxide which are fine to treat at home when the dog is clean and dry,. most of the time my dog gets wounded outside swimming in canal or in thick brush chasing after iguanas. Because when outside the dog is pretty much always wet I couldn't tell if I treated the whole scratch or just part of it, so I just ended up poring the whole bottle in the vicinity of the wound. This is why I like the blue color and that its a cream, I just put it on the wound and it doesn't runoff right away but stays in place for a long time (this makes me feel better knowing the wound is sealed off and the medicine is working) but then it washes off without stains. 52 people found this helpful Helpful ### [Buy Now From Amazon!](https://www.amazon.com/Forticept-Antimicrobial-Antiseptic-Infections-Scratches/dp/B07JC2T1Z1/ref=sr_1_563?qid=1647139678&s=pet-supplies&sr=1-563&tag=slavasrecipes-20)\",\n                \"title_snippet\": \"\\uD83D\\uDD25Amazon Deal\\uD83D\\uDD25 Forticept Blue Butter Antimicrobial Gel, Antiseptic Hydrogel Dogs Wound Care, Dogs &...\",\n                \"content_snippet\": \"...ingredients, to what is currently being used in numerous veterinary clinics and <b>animal</b> hospitals, helping veterinarians, and pet owners, successfully manage complex skin and wound infections. ### [Best Deal On...\",\n                \"root_url\": \"http://www.reddit.com/r/Amazon__Deals_\",\n                \"domain_url\": \"http://reddit.com/\",\n                \"host_url\": \"http://www.reddit.com/\",\n                \"parent_url\": \"http://www.reddit.com/selfpost\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"MESSAGEBOARD\",\n                    \"MESSAGEBOARD_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 36,\n                \"noise_category\": \"diet_pharma\",\n                \"tokens_title\": [\n                    \"Butter Antimicrobial Gel\",\n                    \"Butter Antimicrobial Gel\",\n                    \"Forticept Blue Butter\",\n                    \"Forticept Blue Butter\",\n                    \"Antiseptic Hydrogel Dogs\",\n                    \"Antiseptic Hydrogel Dogs\",\n                    \"Hydrogel Dogs Wound\",\n                    \"Hydrogel Dogs Wound\",\n                    \"Blue Butter Antimicrobial\",\n                    \"Blue Butter Antimicrobial\"\n                ],\n                \"tokens_content\": [\n                    \"Verified PurchaseEarly Reviewer\",\n                    \"Verified PurchaseEarly Reviewer\",\n                    \"PurchaseEarly Reviewer Rewards\",\n                    \"PurchaseEarly Reviewer Rewards\",\n                    \"Forticept Blue Butter\",\n                    \"NONE IRRITATING WOUND\",\n                    \"Helpful Eddy Morgan\",\n                    \"Keep Blue Butter\",\n                    \"Verified Purchase Bought\",\n                    \"Helpful Coffee Addict\"\n                ],\n                \"tags_internal\": [\n                    \"isQuestion\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 2206000000,\n                    \"alexa_unique_visitors\": 459583328\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.reddit.com-1892872891\",\n                    \"name\": \"Uncovered_Chocolate_\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"re:t5_5uhuv8\",\n                    \"name\": \"Amazon__Deals_\",\n                    \"url\": \"http://www.reddit.com/r/Amazon__Deals_\"\n                },\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://www.amazon.com/Forticept-Antimicrobial-Antiseptic-Infections-Scratches/dp/B07JC2T1Z1/ref=sr_1_563?qid=1647139678&amp;s=pet-supplies&amp;sr=1-563&amp;tag=slavasrecipes-20)\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 1676\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"...Gel, Antiseptic Hydrogel <b>Dogs</b> Wound Care, <b>Dogs</b> & <b>Cats</b> for Skin Infections, Rashes, Sores, Wounds...\",\n                    \"content_snippet\": \"...infection, ringworm. Blue Butter is an effective <b>dogs</b> wound treatment. PROMOTES HEALING: Blue Butter hot spot treatment gel ... environment for ultimate healing. Blue Butter <b>dogs</b> wound care ointment helps prevent skin infections in acute wounds. Safe...\",\n                    \"matched\": {\n                        \"rule_id\": \"rule_1\",\n                        \"stream_id\": \"stream_1\"\n                    }\n                }\n            ]\n        }\n    }\n}\n\n\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.theatlantic.com/photo/2022/03/ukraine-animal-refugees/627067/\",\n                \"indexed\": 1647368081399,\n                \"search_indexed\": 1647368087681,\n                \"published\": 1647365433000,\n                \"title\": \"Photos: Animals Can Be Refugees Too\",\n                \"content\": \"Volunteers arrive with more than 50 dogs and cats at the Ada Foundation in Przemysl, Poland, on March 8, 2022. Pets are among the hundreds of thousands seeking refuge in Poland since Russia's invasion of Ukraine. The ADA...\",\n                \"title_snippet\": \"Photos: Animals Can Be Refugees Too\",\n                \"content_snippet\": \"...from the eastern part of the country. #\\n\\nOmar Marques / Getty\\n\\nDogs are seen in an <b>animal</b> shelter at Orzechowce, close to Przemysl, Poland, near the Ukrainian border, on March 10, 2022. The shelter welcomed 38 dogs and 32 cats from Ukraine on March...\",\n                \"root_url\": \"https://www.theatlantic.com/\",\n                \"domain_url\": \"http://theatlantic.com/\",\n                \"host_url\": \"http://www.theatlantic.com/\",\n                \"parent_url\": \"https://www.theatlantic.com/photo/2022/03/ukraine-animal-refugees/627067/\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_MAGAZINE\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"Photos\",\n                    \"Photos\",\n                    \"Animals\",\n                    \"Animals\",\n                    \"Refugees\",\n                    \"Refugees\"\n                ],\n                \"tokens_content\": [\n                    \"Ada Foundation\",\n                    \"Ada Foundation\",\n                    \"#Omar Marques\",\n                    \"White Paw\",\n                    \"#Louisa Gouliamaki\",\n                    \"Getty Dogs\",\n                    \"Poland\",\n                    \"Poland\",\n                    \"Poland\",\n                    \"Ukraine\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://cdn.theatlantic.com/media/img/photo/2022/03/ukrainian-refugee-pets/a01_AP22069593108190-1/original.jpg\"\n                    }\n                ],\n                \"cluster_id\": \"https://www.theatlantic.com/photo/2022/03/ukraine-animal-refugees/627067/\",\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"article_extended_attributes\": {\n                    \"facebook_shares\": 187,\n                    \"facebook_likes\": 951,\n                    \"twitter_shares\": 245,\n                    \"num_comments\": 40\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 10800000,\n                    \"alexa_unique_visitors\": 7714286\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.theatlantic.com-1298405461\",\n                    \"name\": \"alan taylor\",\n                    \"gender\": \"MALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Massachusetts\",\n                        \"city\": \"Boston\",\n                        \"longitude\": -71.0650634765625,\n                        \"latitude\": 42.32757568359375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"REGION\"\n                    },\n                    \"id\": \"ex:www.theatlantic.com\",\n                    \"name\": \"www.theatlantic.com\"\n                },\n                \"engagement\": 1423,\n                \"reach\": 7714286,\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 210,\n                \"trending_score\": 3\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Photos: Animals Can Be Refugees Too\",\n                    \"content_snippet\": \"Volunteers arrive with more than 50 <b>dogs</b> and <b>cats</b> at the Ada Foundation in Przemysl, Poland, on March 8, 2022. Pets are ... country. #\\n\\nOmar Marques / Getty\\n\\n<b>Dogs</b> are seen in an <b>animal</b> shelter at Orzechowce, close to Przemysl, Poland, near the...\",\n                    \"matched\": {\n                        \"rule_id\": \"rule_1\",\n                        \"stream_id\": \"stream_1\"\n                    }\n                }\n            ]\n        }\n    }\n}\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.globenewswire.com/news-release/2022/03/16/2404067/0/en/TENTH-ANNUAL-BUSINESS-BENCHMARK-ON-FARM-ANIMAL-WELFARE-FOUR-OUT-OF-FIVE-COMPANIES-HAVE-POLICIES-IN-PLACE-BUT-THE-FOOD-INDUSTRY-MUST-MOVE-FASTER-TO-DELIVER-MEANINGFUL-WELFARE-IMPACT.html\",\n                \"indexed\": 1647417823712,\n                \"search_indexed\": 1647417839509,\n                \"published\": 1647417600000,\n                \"title\": \"TENTH ANNUAL BUSINESS BENCHMARK ON FARM ANIMAL WELFARE\",\n                \"content\": \"TENTH ANNUAL BUSINESS BENCHMARK ON FARM ANIMAL WELFARE: FOUR OUT OF FIVE COMPANIES HAVE POLICIES IN PLACE, BUT THE FOOD INDUSTRY MUST MOVE FASTER TO DELIVER MEANINGFUL WELFARE IMPACTS\\n\\nNew York, NY, March 16, 2022 (GLOBE...\",\n                \"title_snippet\": \"TENTH ANNUAL BUSINESS BENCHMARK ON FARM <b>ANIMAL</b> WELFARE\",\n                \"content_snippet\": \"...Farm <b>Animal</b> Welfare\\n\\nThe Business Benchmark on Farm <b>Animal</b> Welfare (BBFAW) is the leading global measure of farm <b>animal</b> ... Statement on Farm <b>Animal</b> Welfare and convenes the Global Investor Collaboration on Farm <b>Animal</b> Welfare, a collaborative...\",\n                \"root_url\": \"https://www.globenewswire.com/\",\n                \"domain_url\": \"http://globenewswire.com/\",\n                \"host_url\": \"http://www.globenewswire.com/\",\n                \"parent_url\": \"https://www.globenewswire.com/news-release/2022/03/16/2404067/0/en/TENTH-ANNUAL-BUSINESS-BENCHMARK-ON-FARM-ANIMAL-WELFARE-FOUR-OUT-OF-FIVE-COMPANIES-HAVE-POLICIES-IN-PLACE-BUT-THE-FOOD-INDUSTRY-MUST-MOVE-FASTER-TO-DELIVER-MEANINGFUL-WELFARE-IMPACT.html\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_AGENCY\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"TENTH ANNUAL BUSINESS\",\n                    \"TENTH ANNUAL BUSINESS\",\n                    \"ANNUAL BUSINESS BENCHMARK\",\n                    \"ANNUAL BUSINESS BENCHMARK\",\n                    \"FARM ANIMAL WELFARE\",\n                    \"FARM ANIMAL WELFARE\",\n                    \"FARM ANIMAL\",\n                    \"FARM ANIMAL\",\n                    \"TENTH ANNUAL\",\n                    \"TENTH ANNUAL\"\n                ],\n                \"tokens_content\": [\n                    \"Farm Animal Welfare\",\n                    \"Farm Animal Welfare\",\n                    \"Farm Animal Welfare\",\n                    \"The Business Benchmark\",\n                    \"The Business Benchmark\",\n                    \"The Business Benchmark\",\n                    \"BBFAW Impact Rating\",\n                    \"Global Investor Statement\",\n                    \"Amanda Williams Chronos\",\n                    \"DELIVER MEANINGFUL WELFARE\"\n                ],\n                \"cluster_id\": \"https://www.globenewswire.com/news-release/2022/03/16/2404067/0/en/TENTH-ANNUAL-BUSINESS-BENCHMARK-ON-FARM-ANIMAL-WELFARE-FOUR-OUT-OF-FIVE-COMPANIES-HAVE-POLICIES-IN-PLACE-BUT-THE-FOOD-INDUSTRY-MUST-MOVE-FASTER-TO-DELIVER-MEANINGFUL-WELFARE-IMPACT.html\",\n                \"article_extended_attributes\": {\n                    \"twitter_shares\": 2\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 11300000,\n                    \"alexa_unique_visitors\": 5947368\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.globenewswire.com-0\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.globenewswire.com\",\n                    \"name\": \"www.globenewswire.com\"\n                },\n                \"engagement\": 2,\n                \"reach\": 5947368,\n                \"entity_url\": [\n                    {\n                        \"url\": \"www.bbfaw.com\",\n                        \"resolved_url\": \"https://www.bbfaw.com/\"\n                    },\n                    {\n                        \"url\": \"https://www.globenewswire.com/Tracker?data=FlUNOLIP9P-7oIMWKExHGUItIonQs1uNtrTPlavLB7Jn6qL4CekfT_fAPbbRnTCl\"\n                    },\n                    {\n                        \"url\": \"https://www.globenewswire.com/Tracker?data=UKmeB3hU-aZitsVt60vsKsS2gzXBhzYz74xSTIRHMZK4xQhV6blVjlX-3dQfdJvkSXRBD3C56QHaOKnl9Yr7wsalVKnWeut6l4VObXnbiNawf3MO7TXxRMoPpc9RzN5vcSMDxnoIytp8w1LT3_triy79U1b8jfu6v-uny-UWmRo=\"\n                    },\n                    {\n                        \"url\": \"https://ml.globenewswire.com/media/NWNmYjYwYTktMDEyOC00NWFlLTgzMDAtYWVmYTllODRlNTg1LTEyMzMxMTc=/tiny/Compassion-in-World-Farming-US.png\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 1838,\n                \"trending_score\": 0\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"TENTH ANNUAL BUSINESS BENCHMARK ON FARM <b>ANIMAL</b> WELFARE\",\n                    \"content_snippet\": \"...Farm <b>Animal</b> Welfare\\n\\nThe Business Benchmark on Farm <b>Animal</b> Welfare (BBFAW) is the leading global measure of farm <b>animal</b> ... animals including stray <b>dogs</b> and <b>cats</b>, farm animals and wild animals – such as bears, big <b>cats</b> and orangutans – kept in...\",\n                    \"matched\": {\n                        \"rule_id\": \"rule_1\",\n                        \"stream_id\": \"stream_1\"\n                    }\n                }\n            ]\n        }\n    }\n}\n\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.democraticunderground.com/?com=forum&id=1131#post-cca93d30505ce44010be2cd441f5e9ca\",\n                \"indexed\": 1647505484762,\n                \"search_indexed\": 1647505504581,\n                \"published\": 1610324966630,\n                \"title\": \"Vegetarian, Vegan and Animal Rights (Group)\",\n                \"content\": \"Page: 1 234567891011121314Next » | Archives Vegetarian, Vegan and Animal Rights (Group) Start a discussionSubscribe to this groupSearch this groupTrash this forumAbout this groupRSS feed This is a group, not a forum. Groups often serve as safe havens for members who share similar interests and viewpoints. Individuals who post messages contrary to a particular group's stated purpose can be excluded from posting in that group. For detailed information about this group and its purpose, click here. Title of discussion thread Replies Author Start time Last reply Recs Views Recipe thread redux 23 LeftyMom Feb 2012 Aug 2017 5 23420 A return to vegetarian Jewish cuisine 7 Jilly_in_VA Feb 22 Mar 9 2 875 She was murdered after feeding shelter dogs. . . 5 Stargleamer Mar 6 Mar 6 16 710 'Huge Win for Gray Wolves' as US Court Restores Endangered Species Act Protections 1 douglas9 Feb 11 Feb 11 5 604 Don't harm black cats! 0 Koch Ebola Feb 7 Feb 7 5 646 This message was self-deleted by its author 0 Koch Ebola Feb 7 Feb 7 0 168 The Economist: If everyone were vegan, only a quarter of current farmland would be needed 5 mucifer Jan 30 Feb 6 11 849 Can we love animals and eat them? 14 VGNonly Jan 24 Jan 26 2 670 What is a Wilderness Without Its Wolves? 4 douglas9 Dec 24 Jan 24 5 739 Love meat too much for Veganuary? Try Regenuary instead 3 Jilly_in_VA Jan 16 Jan 19 3 733 Elephants dying from eating plastic waste in Sri Lankan dump 0 douglas9 Jan 14 Jan 14 3 487 Tracking Cougars to Figure Out Where to Build a Bridge 0 douglas9 Jan 12 Jan 12 3 370 American Heart Association is encouraging plant proteins: 3 mucifer Nov 2021 Jan 11 8 710 The Fish and Wildlife Service Must Reject Gianforte's Political Grizzly Bear Petition 0 douglas9 Jan 10 Jan 10 2 493 On @thismorning they've been trying vegan nuggets and they LOVE them! 1 demmiblue Jan 6 Jan 6 3 436 Texas Biomed pulls $11M bond project request after complaints over primate testing 0 douglas9 Dec 18 Dec 18 0 432 British big game hunters to be banned from bringing trophies home 4 douglas9 Dec 2021 Dec 2021 11 588 South Africa's White-Rhino Ranchers Face an Uncertain Future 0 douglas9 Dec 2021 Dec 2021 3 715 A famously far-ranging gray wolf is found dead in Southern California 1 douglas9 Nov 2021 Nov 2021 5 731 U.S. government under fire for poisoning of prairie dogs plan 2 douglas9 Nov 2021 Nov 2021 8 591 THE ELEPHANT SUIT 1 douglas9 Nov 2021 Nov 2021 5 568 Saving Sweet Beagles from torture in the UK 1 Duppers Nov 2021 Nov 2021 6 505 2 Ivory Smugglers Captured in International Operation, U.S. Says 5 douglas9 Nov 2021 Nov 2021 4 579 Chickens Severely Mistreated at \\\"Humane\\\" California Slaughterhouse, New Video Alleges 4 douglas9 Sep 2021 Nov 2021 5 925 Feds propose threatened status for alligator snapping turtle 3 douglas9 Nov 2021 Nov 2021 3 513 No Sloth Selfies - The Rush to Protect Latin America's Slowest Mammal 5 douglas9 May 2021 Nov 2021 4 1406 Wild Horses Adopted Under a Federal Program Are Going to Slaughter 2 douglas9 May 2021 Nov 2021 6 1023 \\\"Veganism Is A Privilege\\\" -- Debunked (BBC Refuted) 1 mucifer May 2021 Nov 2021 2 1074 A Win for Lynx and Grizzly Bears in Montana 1 douglas9 Nov 2021 Nov 2021 6 539 Just Egg review - plant based egg product 12 CrispyQ Jul 2021 Nov 2021 5 1643 Caged animal farming: EU aims to end practice by 2027 3 Eugene Jun 2021 Nov 2021 5 1221 Cultivated Meat and the Prayer of Saint Francis 3 douglas9 Oct 2021 Oct 2021 6 734 How Animal Rights, Once a Progressive Stepchild, Became a Movement 2 douglas9 Aug 2021 Oct 2021 3 618 Ted Nugent Testifies for Hunting Bills in Wisconsin 2 douglas9 Oct 2021 Oct 2021 0 642 Poaching is altering the genetics of wild animals 6 douglas9 Oct 2021 Oct 2021 27 1156 African Elephants Evolved Tusklessness Amazingly Fast 0 douglas9 Oct 2021 Oct 2021 1 514 Animal Rights Advocates Say NIH Blocks Critical Comments on Social Media 15 douglas9 Sep 2021 Oct 2021 6 1344 Vietnam: Owners heartbroken after 12 dogs killed over Covid 0 Eugene Oct 2021 Oct 2021 2 653 High-schoolers tracked a wolf pack for years. The feds killed eight of the pups, conservationists sa 1 douglas9 Oct 2021 Oct 2021 7 751 Help! I want to make pinto beans without bacon, what can I substitute for that? 18 irisblue Sep 2021 Oct 2021 3 1335 Biden Administration Defends Wildlife Services' Killing of Eight Wolf Pups in Idaho 13 douglas9 Oct 2021 Oct 2021 4 803 Aquafaba as an egg replacement for baking 4 CrispyQ Oct 2021 Oct 2021 4 703 Plant based meal ideas for Thanksgiving, Canadian 11 Oct, US 25 Nov 2021 1 irisblue Oct 2021 Oct 2021 4 566 South Korea's President Moon raises dog meat ban 2 Eugene Sep 2021 Sep 2021 2 552 Where people live in harmony with lions 0 Jilly_in_VA Sep 2021 Sep 2021 0 564 Los Angeles Man Accused of Burning Family Dog To Death 4 red dog 1 Sep 2021 Sep 2021 1 906 Biden Administration Breaks Deal on Big-Game Hunting 19 douglas9 Aug 2021 Sep 2021 56 3411 Undercover Investigations Expose Brutal Wildlife Killing Contests 2 douglas9 Jul 2021 Sep 2021 8 1514 How do you convince people to eat less meat? This might help 3 Stargleamer Sep 2021 Sep 2021 10 1033 Why are Mexican Wolves Being Removed From Northern Arizona? Agency Excuses Don't Fly 1 douglas9 Sep 2021 Sep 2021 4 665 PETITION: REMOVE ANIMAL CRUELTY FROM YOU TUBE 6 red dog 1 Aug 2021 Aug 2021 3 915 SIGN PETITION: HOLD SOCIAL MEDIA PLATFORMS ACCOUNTABLE for ANIMAL TORTURE 6 red dog 1 Aug 2021 Aug 2021 7 960 PETA asks feds to penalize San Antonio lab after 159 of its baboons suffered amputations from frostb 5 douglas9 Aug 2021 Aug 2021 6 1425 Made some chick pea and lentil pasta for the first time. I've had two bowls 9 applegrove Apr 2021 Aug 2021 2 1874 The capybaras stay: Residents of the Buenos Aires suburb of Nordelta agree to set aside refuge 0 peppertree Aug 2021 Aug 2021 4 821 Plant-based burgers aren't a health food. That's a good thing. 17 yewberry Feb 2021 Aug 2021 9 3121 Wisconsin on Track for Another 'Wolf Slaughter,' Sparking Calls for Federal Protections 0 douglas9 Aug 2021 Aug 2021 6 656 How the Head of the N.R.A. and His Wife Secretly Shipped Their Elephant Trophies Home 5 douglas9 Jul 2021 Jul 2021 14 1879 Indigenous-directed Short Film Asks Interior Sec. Haaland to Return Fed Protections to Gray Wolves 1 douglas9 Jul 2021 Jul 2021 4 1667 The Game Changers - a documentary on a plant based diet. 7 CrispyQ Jun 2021 Jul 2021 4 1669 Results from Covid 19 and Diet Study 0 mucifer Jun 2021 Jun 2021 3 1904 Support shoes 16 blackcrowflies Nov 2014 Jun 2021 2 3857 Who's Afraid the Big (Actually, Tiny) Bad (Hardly) Wolf (Pups)? 3 douglas9 Jun 2021 Jun 2021 7 2419 \\\"Management' of Wolves in Idaho and Montana Harkens Back to Extermination Era 3 douglas9 May 2021 May 2021 6 1378 115 Top U.S. Wolf Experts, Scientists Urge Biden Admin to Restore Federal Protections for Gray Wolve 0 douglas9 May 2021 May 2021 10 1095 Former circus elephants just arrived at a new sanctuary. They are swimming and grazing on fruit buff 8 douglas9 May 2021 May 2021 27 2519 South Africa to ban lion breeding for cub petting 0 Eugene May 2021 May 2021 2 983 Eating less Meat won't save the Planet Debunked 5 mucifer May 2021 May 2021 1 958 2 Montana men cited over helicopter poaching of wolves 2 douglas9 Apr 2021 Apr 2021 3 1252 Attempt to use AI to decode whale language... 4 LT Barclay Apr 2021 Apr 2021 8 1344 A John Muir quote 0 Duppers Apr 2021 Apr 2021 6 972 Alarmed by 'Tiger King,' senators propose ban on private ownership of big cats 5 Eugene Apr 2021 Apr 2021 5 1112 Some vegan product reviews. 7 CrispyQ Apr 2021 Apr 2021 7 1355 The Indefensible Violence of Wildlife Killing Contests 0 douglas9 Apr 2021 Apr 2021 6 850 Hunters Wreaking Havoc on Roaming of African Elephants 0 douglas9 Apr 2021 Apr 2021 3 1444 \\\"Seaspiracy\\\" now available on netflix 2 mucifer Mar 2021 Mar 2021 1 1204 Yellowstone wolf killed by Montana Governor 8 douglas9 Mar 2021 Mar 2021 12 2034 The Future of Wolves in the American West 1 douglas9 Mar 2021 Mar 2021 5 1189 Korean Vegan Telling a Story About Her Parents While Cooking 3 mucifer Mar 2021 Mar 2021 4 1357 States Seek to Emulate Wisconsin's Wolf Massacre 1 Duppers Mar 2021 Mar 2021 4 945 Go to Page: 1234567891011121314Next » Main Announcements Latest Breaking News Editorials & Other Articles Video & Multimedia General Discussion The DU Lounge Community Help My Subscriptions Topics Places https://pmatep5f7b.execute-api.us-east-1.amazonaws.com/ProdStage\",\n                \"title_snippet\": \"Vegetarian, Vegan and <b>Animal</b> Rights (Group)\",\n                \"content_snippet\": \"...234567891011121314Next » | Archives Vegetarian, Vegan and <b>Animal</b> Rights (Group) Start a discussionSubscribe to this ... CrispyQ Jul 2021 Nov 2021 5 1643 Caged <b>animal</b> farming: EU aims to end practice by 2027 3 Eugene Jun 2021 Nov 2021 5 1221...\",\n                \"root_url\": \"https://www.democraticunderground.com/forums/archive-dec2011.html\",\n                \"domain_url\": \"http://democraticunderground.com/\",\n                \"host_url\": \"http://www.democraticunderground.com/\",\n                \"parent_url\": \"https://www.democraticunderground.com/?com=forum&id=1131\",\n                \"lang\": \"en\",\n                \"porn_level\": 20,\n                \"fluency_level\": 100,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"MESSAGEBOARD\",\n                    \"MESSAGEBOARD_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 53,\n                \"noise_category\": \"seo_scam\",\n                \"tokens_title\": [\n                    \"and Animal Rights\",\n                    \"Animal Rights\",\n                    \"Animal Rights\",\n                    \"and Animal\",\n                    \"Rights\",\n                    \"Rights\",\n                    \"Vegetarian\",\n                    \"Vegetarian\",\n                    \"Animal\",\n                    \"Animal\"\n                ],\n                \"tokens_content\": [\n                    \"Koch Ebola Feb\",\n                    \"Koch Ebola Feb\",\n                    \"Wildlife Killing Contests\",\n                    \"Wildlife Killing Contests\",\n                    \"Administration Breaks Deal\",\n                    \"Expose Brutal Wildlife\",\n                    \"Political Grizzly Bear\",\n                    \"New Video Alleges\",\n                    \"Blocks Critical Comments\",\n                    \"SOCIAL MEDIA PLATFORMS\"\n                ],\n                \"tokens_mention\": [\n                    \"@thismorning\"\n                ],\n                \"tags_internal\": [\n                    \"isQuestion\",\n                    \"isComment\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 1900000,\n                    \"alexa_unique_visitors\": 345454\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.democraticunderground.com-1048797490\",\n                    \"name\": \"Next »\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.democraticunderground.com\",\n                    \"name\": \"www.democraticunderground.com\"\n                },\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://pmatep5f7b.execute-api.us-east-1.amazonaws.com/ProdStage\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 1524\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Vegetarian, Vegan and <b>Animal</b> Rights (Group)\",\n                    \"content
[...]
