openapi: 3.2.0
info:
  title: Talkwalker Streaming Streaming API > Collector API
  description: Talkwalker Advanced API
  version: 0.0.1
  contact:
    email: client-api@talkwalker.com
    name: Client-API
servers:
- description: Production environment server
  url: https://api.talkwalker.com
security:
- apikeyAuth: []
tags:
- name: Streaming API > Collector API
paths:
  /api/v3/stream/c/{collector_id}:
    delete:
      parameters:
      - example: collector_1
        in: path
        name: collector_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request: DELETE /api/v3/stream/c/collector_1?access_token=abcd-1234-abcd
                request_id: '#r8ugw4txyxsa#'
                result_stream:
                  collectors:
                  - collector_id: collector_1
                    state: DELETED
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Delete a collector
      tags:
      - Streaming API > Collector API
    get:
      parameters:
      - example: collector_1
        in: path
        name: collector_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request: GET /api/v3/stream/c/collector_1?access_token=abcd-1234-abcd
                request_id: '#r8ui6xvte1ey#'
                result_stream:
                  collectors:
                  - collector_id: collector_1
                    collector_query:
                      queries:
                      - id: rule_1
                        query: cats and dogs
                    creation_date: '2022-03-16T16:02:12.620Z'
                    state: ACTIVE
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Get collector definition
      tags:
      - Streaming API > Collector API
    put:
      parameters:
      - example: collector_1
        in: path
        name: collector_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                collector_query:
                  filters:
                  - kprzjv1n_1234abcd
                  project_topics:
                    project: 1234-abcd-1234
                    topics:
                    - kpnutesu_1234abcd
                  queries:
                  - id: rule_1
                    query: cats and dogs
              type: object
      responses:
        '200':
          content:
            application/json:
              example:
                request: PUT /api/v3/stream/c/collector_1?access_token=abcd-1234-abcd
                request_id: '#r8uhppr07ycm#'
                result_stream:
                  collectors:
                  - collector_id: collector_1
                    state: ACTIVE
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Create or replace a collector
      tags:
      - Streaming API > Collector API
  /api/v3/stream/c/{collector_id}/pause:
    post:
      parameters:
      - example: collector_1
        in: path
        name: collector_id
        required: true
        schema:
          type: string
      requestBody:
        content: {}
      responses:
        '200':
          content:
            application/json:
              example:
                request: POST /api/v3/stream/c/collector_1/pause?access_token=abcd_1234_abcd
                request_id: '#r8uhy1exlqc6#'
                result_stream:
                  collectors:
                  - collector_id: collector_1
                    state: PAUSED
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Pause a collector
      tags:
      - Streaming API > Collector API
  /api/v3/stream/c/{collector_id}/results:
    get:
      parameters:
      - description: 'position to resume the data access from. Can be retrieved from control chunks.

          Allowed values: earliest, latest or the resume_token from control_chunk.

          Default value: earliest'
        example: earliest
        in: query
        name: resume_offset
        schema:
          type: string
      - description: 'what to do when we reached the most recent result.

          Allowed values: stop or wait.

          Default value: wait.'
        example: stop
        in: query
        name: end_behaviour
        schema:
          type: string
      - example: collector_1
        in: path
        name: collector_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              example: "{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"connection_id\": \"#r8vnr4egi39d#\",\n        \"resume_offset\": \"earliest\",\n        \"collector_id\": \"collector_1\"\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://onespoiledcat.wordpress.com/2022/03/17/thankful-and-poetic-thursday-179/\",\n                \"indexed\": 1647500573849,\n                \"search_indexed\": 1647500608486,\n                \"published\": 1647500401000,\n                \"title\": \"Thankful and Poetic Thursday\",\n                \"content\": \"Happy Thursday and Happy St. Patrick’s Day. Shall we be THANKFUL together? Sure we shall…………….if you wanna add your blog to the HOP, just click Brian’s badge and link up with us.\\n\\nVery thankful that Brian’s Dad is feeling better after his emergency appendectomy. I’m sure the kitties are taking good care of him. I will be VERY HAPPY when one day I can say I’m THANKFUL that the Ukrainian people are no longer in the middle of a hideous war………..I guess I have to wait for that to happen first to be thankful but we ALL will be thankful then.\\n\\nAlso thankful that Angel Sammy sent me his poetic challenge message – I’ll share it with you below!\\n\\n♥♥♥\\n\\nHi Thursday Poem Friends!\\n\\nI always look forward to Thursdays so I can spend a little time sharing poetry with you. Remember, you don’t have to be a fabulous writer to write a poem…..you just have to write it down and be proud of it! LOL I think writing a poem about something you are looking at (in our case a photo) is EASIER than just plucking words out of the air with nothing particular in mind. This way you can look at the photo and you will automatically start thinking of an idea which automatically leads you to words which automatically becomes a poem – in ANY form (and there are lots of poetic forms!).\\n\\nSo here’s last week’s photo that I gave you a WEEK to write a poem about – followed by my poem:\\n\\n“Escape Hatch”\\n\\nPoem by Angel Sammy Kimmell ©March 16, 2022\\n\\n“Little guy I do believe your big puppy you should thank\\n\\nCuz if you made it through that door you’d probably get a spank!\\n\\nRover knows that door is for him when he needs to go out to potty\\n\\nSomething tells me if you’re joining him, Mom would say you’re naughty!\\n\\nBut I really must admit in spite of it all you two look extremely cute\\n\\nJust promise us you won’t try that trick on the upstairs laundry chute!?”\\n\\nAhhh…..boys will be boys and those little doors are just too darn tempting not to at least TRY to wiggle through and head out on an adventure. Especially if we see our dogs or cats using their “doors in the door” to go outside. It’s just TOO tempting!\\n\\nIf you wrote a poem about the photo above – please share the link to your blog or poem in our COMMENTS so we can read and enjoy it!\\n\\nNow for next week’s poetic challenge photo…………….try this one on for size:\\n\\nI realized today that I tend to use a lot of photos with kids in them…..well, kids are cute and they do some pretty funny things so that’s my excuse! This one I just love the look on her face as she glides along.\\n\\nSo I’ll see you next Thursday and we’ll share out poems about this photo OK? OK! It’s a date!\\n\\nYes I just happen to have my St. Patrick’s green beret on!\\n\\nLove and light, Angel Sammy O’Kimmell\\n\\n♥♣♥\\n\\nGood poem Angel Sammy – I loved it………………….Happy St. Patrick’s Day………….I bet you all are having a party at the Bridge………wish I could be with you!\\n\\nLove, Teddy\",\n                \"root_url\": \"https://onespoiledcat.wordpress.com/\",\n                \"domain_url\": \"http://wordpress.com/\",\n                \"host_url\": \"http://onespoiledcat.wordpress.com/\",\n                \"parent_url\": \"https://onespoiledcat.wordpress.com/2022/03/17/thankful-and-poetic-thursday-179/\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"sentiment\": 5,\n                \"source_type\": [\n                    \"BLOG\",\n                    \"BLOG_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"and Poetic Thursday\",\n                    \"Poetic Thursday\",\n                    \"Poetic Thursday\",\n                    \"and Poetic\",\n                    \"Thankful\",\n                    \"Thankful\",\n                    \"Poetic\",\n                    \"Poetic\"\n                ],\n                \"tokens_content\": [\n                    \"Angel Sammy Kimmell\",\n                    \"Thursday Poem Friends\",\n                    \"Angel Sammy\",\n                    \"Angel Sammy\",\n                    \"Angel Sammy\",\n                    \"Sammy Kimmell\",\n                    \"Happy Thursday\",\n                    \"Escape Hatch\",\n                    \"Thursday Poem\",\n                    \"Poem Friends\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2022/03/photopoemmarch17-2022.jpg\",\n                        \"width\": 735,\n                        \"height\": 365\n                    }\n                ],\n                \"tags_internal\": [\n                    \"hasImage\",\n                    \"isQuestion\",\n                    \"containsImage\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 0,\n                    \"alexa_unique_visitors\": 0\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:onespoiledcat.wordpress.com-1922553720\",\n                    \"name\": \"onespoiledcat\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:onespoiledcat.wordpress.com\",\n                    \"name\": \"onespoiledcat.wordpress.com\"\n                },\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2022/03/teddystpats.jpg?w=652&h=489\"\n                    },\n                    {\n                        \"url\": \"http://brianshomeblog.com\"\n                    },\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2016/11/thankfulthursdaybadge.png?w=300&h=300\"\n                    },\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2022/03/photopoemmarch17-2022.jpg?w=652&h=324\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 547\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Thankful and Poetic Thursday\",\n                    \"content_snippet\": \"boys will be boys and those little doors are just too darn tempting not to at least TRY to wiggle through <b>and</b> head out on an adventure. Especially if we see our <b>dogs</b> or <b>cats</b> using their “doors in the door” to go outside. It’s just TOO tempting!\\n\\nIf...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://onespoiledcat.wordpress.com/2022/03/17/thankful-and-poetic-thursday-179/\",\n                \"indexed\": 1647500573849,\n                \"search_indexed\": 1647500593803,\n                \"published\": 1647500401000,\n                \"title\": \"Thankful and Poetic Thursday\",\n                \"content\": \"Happy Thursday and Happy St. Patrick’s Day. Shall we be THANKFUL together? Sure we shall…………….if you wanna add your blog to the HOP, just click Brian’s badge and link up with us.\\n\\nVery thankful that Brian’s Dad is feeling better after his emergency appendectomy. I’m sure the kitties are taking good care of him. I will be VERY HAPPY when one day I can say I’m THANKFUL that the Ukrainian people are no longer in the middle of a hideous war………..I guess I have to wait for that to happen first to be thankful but we ALL will be thankful then.\\n\\nAlso thankful that Angel Sammy sent me his poetic challenge message – I’ll share it with you below!\\n\\n♥♥♥\\n\\nHi Thursday Poem Friends!\\n\\nI always look forward to Thursdays so I can spend a little time sharing poetry with you. Remember, you don’t have to be a fabulous writer to write a poem…..you just have to write it down and be proud of it! LOL I think writing a poem about something you are looking at (in our case a photo) is EASIER than just plucking words out of the air with nothing particular in mind. This way you can look at the photo and you will automatically start thinking of an idea which automatically leads you to words which automatically becomes a poem – in ANY form (and there are lots of poetic forms!).\\n\\nSo here’s last week’s photo that I gave you a WEEK to write a poem about – followed by my poem:\\n\\n“Escape Hatch”\\n\\nPoem by Angel Sammy Kimmell ©March 16, 2022\\n\\n“Little guy I do believe your big puppy you should thank\\n\\nCuz if you made it through that door you’d probably get a spank!\\n\\nRover knows that door is for him when he needs to go out to potty\\n\\nSomething tells me if you’re joining him, Mom would say you’re naughty!\\n\\nBut I really must admit in spite of it all you two look extremely cute\\n\\nJust promise us you won’t try that trick on the upstairs laundry chute!?”\\n\\nAhhh…..boys will be boys and those little doors are just too darn tempting not to at least TRY to wiggle through and head out on an adventure. Especially if we see our dogs or cats using their “doors in the door” to go outside. It’s just TOO tempting!\\n\\nIf you wrote a poem about the photo above – please share the link to your blog or poem in our COMMENTS so we can read and enjoy it!\\n\\nNow for next week’s poetic challenge photo…………….try this one on for size:\\n\\nI realized today that I tend to use a lot of photos with kids in them…..well, kids are cute and they do some pretty funny things so that’s my excuse! This one I just love the look on her face as she glides along.\\n\\nSo I’ll see you next Thursday and we’ll share out poems about this photo OK? OK! It’s a date!\\n\\nYes I just happen to have my St. Patrick’s green beret on!\\n\\nLove and light, Angel Sammy O’Kimmell\\n\\n♥♣♥\\n\\nGood poem Angel Sammy – I loved it………………….Happy St. Patrick’s Day………….I bet you all are having a party at the Bridge………wish I could be with you!\\n\\nLove, Teddy\",\n                \"root_url\": \"https://onespoiledcat.wordpress.com/\",\n                \"domain_url\": \"http://wordpress.com/\",\n                \"host_url\": \"http://onespoiledcat.wordpress.com/\",\n                \"parent_url\": \"https://onespoiledcat.wordpress.com/2022/03/17/thankful-and-poetic-thursday-179/\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 5,\n                \"source_type\": [\n                    \"BLOG\",\n                    \"BLOG_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"and Poetic Thursday\",\n                    \"Poetic Thursday\",\n                    \"Poetic Thursday\",\n                    \"and Poetic\",\n                    \"Thankful\",\n                    \"Thankful\",\n                    \"Poetic\",\n                    \"Poetic\"\n                ],\n                \"tokens_content\": [\n                    \"Angel Sammy Kimmell\",\n                    \"Thursday Poem Friends\",\n                    \"Angel Sammy\",\n                    \"Angel Sammy\",\n                    \"Angel Sammy\",\n                    \"Sammy Kimmell\",\n                    \"Happy Thursday\",\n                    \"Escape Hatch\",\n                    \"Thursday Poem\",\n                    \"Poem Friends\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2022/03/photopoemmarch17-2022.jpg\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\",\n                    \"isQuestion\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 0,\n                    \"alexa_unique_visitors\": 0\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:onespoiledcat.wordpress.com-1922553720\",\n                    \"name\": \"onespoiledcat\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:onespoiledcat.wordpress.com\",\n                    \"name\": \"onespoiledcat.wordpress.com\"\n                },\n                \"engagement\": 0,\n                \"reach\": 0,\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2022/03/teddystpats.jpg?w=652&h=489\"\n                    },\n                    {\n                        \"url\": \"http://brianshomeblog.com\",\n                        \"resolved_url\": \"https://brianshomeblog.com/\"\n                    },\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2016/11/thankfulthursdaybadge.png?w=300&h=300\"\n                    },\n                    {\n                        \"url\": \"https://onespoiledcat.files.wordpress.com/2022/03/photopoemmarch17-2022.jpg?w=652&h=324\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 547\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Thankful and Poetic Thursday\",\n                    \"content_snippet\": \"boys will be boys and those little doors are just too darn tempting not to at least TRY to wiggle through <b>and</b> head out on an adventure. Especially if we see our <b>dogs</b> or <b>cats</b> using their “doors in the door” to go outside. It’s just TOO tempting!\\n\\nIf...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"connection_id\": \"#r8vnr4egi39d#\",\n        \"resume_offset\": \"EgXEit2qAQ\",\n        \"collector_id\": \"collector_1\"\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"http://www.reddit.com/r/Kikpals/comments/tg48si/31m4r_bored_and_lonely/\",\n                \"indexed\": 1647500640712,\n                \"search_indexed\": 1647500667640,\n                \"published\": 1647500596000,\n                \"title\": \"31[M4R] bored and lonely\",\n                \"content\": \"Hi there. I’m bored and lonely and am looking for someone to chat with. Hopefully it becomes a long term friendship. I’m 31, work full-time, married but unhappy, have 2 dogs, several cats, and 2 stepkids. I like to read, hunt, fish, swim, camp, cook, and play the occasional video game\",\n                \"root_url\": \"http://www.reddit.com/r/Kikpals\",\n                \"domain_url\": \"http://reddit.com/\",\n                \"host_url\": \"http://www.reddit.com/\",\n                \"parent_url\": \"http://www.reddit.com/selfpost\",\n                \"lang\": \"en\",\n                \"porn_level\": 12,\n                \"fluency_level\": 93,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"MESSAGEBOARD\",\n                    \"MESSAGEBOARD_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"and lonely\",\n                    \"lonely\",\n                    \"bored\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 2206000000,\n                    \"alexa_unique_visitors\": 459583328\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.reddit.com-814579566\",\n                    \"name\": \"lhsbass91\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"re:t5_2vnle\",\n                    \"name\": \"Kikpals\",\n                    \"url\": \"http://www.reddit.com/r/Kikpals\"\n                },\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 52\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"31[M4R] bored and lonely\",\n                    \"content_snippet\": \"Hopefully it becomes a long term friendship. I’m 31, work full-time, married but unhappy, have 2 <b>dogs</b>, several <b>cats</b>, <b>and</b> 2 stepkids. I like to read, hunt, fish, swim, camp, cook, and play the occasional video...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"http://www.reddit.com/r/Kikpals/comments/tg48si/31m4r_bored_and_lonely/\",\n                \"indexed\": 1647500640712,\n                \"search_indexed\": 1647500652581,\n                \"published\": 1647500596000,\n                \"title\": \"31[M4R] bored and lonely\",\n                \"content\": \"Hi there. I’m bored and lonely and am looking for someone to chat with. Hopefully it becomes a long term friendship. I’m 31, work full-time, married but unhappy, have 2 dogs, several cats, and 2 stepkids. I like to read, hunt, fish, swim, camp, cook, and play the occasional video game\",\n                \"root_url\": \"http://www.reddit.com/r/Kikpals\",\n                \"domain_url\": \"http://reddit.com/\",\n                \"host_url\": \"http://www.reddit.com/\",\n                \"parent_url\": \"http://www.reddit.com/selfpost\",\n                \"lang\": \"en\",\n                \"porn_level\": 12,\n                \"fluency_level\": 93,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"MESSAGEBOARD\",\n                    \"MESSAGEBOARD_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"and lonely\",\n                    \"lonely\",\n                    \"bored\"\n                ],\n                \"article_extended_attributes\": {\n                    \"num_comments\": 1\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 2206000000,\n                    \"alexa_unique_visitors\": 459583328\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.reddit.com-814579566\",\n                    \"name\": \"lhsbass91\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"re:t5_2vnle\",\n                    \"name\": \"Kikpals\",\n                    \"url\": \"http://www.reddit.com/r/Kikpals\"\n                },\n                \"engagement\": 1,\n                \"reach\": 459583328,\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 52\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"31[M4R] bored and lonely\",\n                    \"content_snippet\": \"Hopefully it becomes a long term friendship. I’m 31, work full-time, married but unhappy, have 2 <b>dogs</b>, several <b>cats</b>, <b>and</b> 2 stepkids. I like to read, hunt, fish, swim, camp, cook, and play the occasional video...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"http://concretecastlerock89864.ampblogs.com/Denver-Concrete-Inc-In-Castle-Rock-Co-44294762\",\n                \"indexed\": 1647500655225,\n                \"search_indexed\": 1647500695426,\n                \"published\": 1647474043000,\n                \"title\": \"Denver Concrete Inc. In Castle Rock, Co\",\n                \"content\": \"Castle Rock Concrete Firm Colorado\\n\\nThe California State License Board recommends getting at least three written bids before hiring a contractor. Do not automatically accept the lowest bid - an abnormally low bid could point out the contractor made a mistake and isn't together with the identical work quoted by their competitors. We've made the bid collection course of very simple . When it comes to major building work or even minor alterations to your house, hiring the incorrect contractor may end in incomplete or defective work.\\n\\nA plain gray concrete driveway costs between $5 and $7 per sq. foot to install, whereas one put in with ornamental colours or finishes can range from $8 to $18, or more, per square foot. Solid wooden flooring is made up of one hundred pc wood, and has a very natural look and feel.\\n\\nExpertise Com Greatest 17 Denver Contractors 2 Years In A Row!\\n\\nThere are a number of actions that would trigger this block including submitting a sure word or phrase, a SQL command or malformed data. Concrete pavement tasks would possibly range from a small 4” thick car parking zone to an enormous 16”... Stay on time and on budget, and still get probably the most skilled service.\\n\\nIf a pet’s nails turn out to be overgrown, everyday activities similar to strolling or operating can turn out to be extraordinarily painful. While getting a manicure or pedicure is often seen as a luxurious for individuals, proper nail care is a necessity for dogs and cats. House members to vote towards supporting the folks of Ukraine on Wednesday. And should you save a search or property, we’ll e-mail you when there’s an replace. Estately updates this knowledge as quickly as potential and shares as much data with our users as allowed by local rules. Estately can even e-mail you updates when new homes come available on the market that match your search, change price, or go beneath contract.\\n\\nWhats The Story Behind The Deserted Concrete Castle In Portage?\\n\\nThe HomeAdvisor Community Rating is an general score based on verified critiques and suggestions from our group of householders which have been connected with service professionals. See individual business pages for full, detailed critiques. It seems like a gross sales pitch a bit and I figured that if something happened that it might be a multitude and a ache to get anything fixed. For completely different causes the color of the driveway simply came out mistaken.\\n\\nFour Wreckers Used In Poudre Canyon Recovery of a Concrete Truck - New Country 99.1\\n\\nFour Wreckers Used In Poudre Canyon Recovery of a Concrete Truck.\\n\\nPosted: Tue, 14 Sep 2021 07:00:00 GMT [ source]\\n\\nFrank is easy to speak to, and makes sure you would possibly be pleased. He was very flexible working with other contractors who have been doing work on the similar time. The crew was always here on time and cleaned up each day. There’s no must feel restricted in relation to your landscaping ideas. Our staff may help you convey any imaginative and prescient to life, whether you desire a conventional backyard design or something extra modern and distinctive. In addition, we offer quite a lot of providers that cater to all budgets, so you will get the proper landscape with out breaking the bank. Ignoring any upkeep prices, asphalt is mostly less expensive to install than concrete.\\n\\nPost Tension Elevated Decks Post-tensioned elevated decks, usually utilized in parking constructions, supply many benefits over other strategies of construction. Soil movement is bound to happen, but the damage sunken concrete leaves behind doesn’t need to be permanent. Trusted concrete leveling options can easily assist resolve such issues. Epoxy Flooring – A mixture of an epoxy resin and a polyamide hardener, this two-part material is often used on garage flooring due to its durability and resistance to most forms of ground damage. Our team of installers is made up of hard-working and highly skilled people who've been with us for no less than 10 years. Our earlier clients have supplied us suggestions obtainable for your perusal.\\n\\nIt’s so hot that a road buckled in Castle Rock - 9News.com KUSA\\n\\nIt’s so hot that a road buckled in Castle Rock.\\n\\nPosted: Mon, 14 Jun 2021 more helpful hints 07:00:00 GMT [ source]\\n\\nAlthough flood risks throughout the nation are altering because of the environment, this property is unlikely to flood over the next 30 years. Flood Factor is a 1-10 scoring, from minimal to excessive, that tells you a property’s potential threat of flooding no less than as soon as over the lifetime of a 30 year mortgage. Dave Campbell, a longtime public servant who worked as town manager in Longview and Chehalis, died Feb. 23. Cowlitz County Corrections Director Marin Fox stated typically a Summit employee was the kitchen lead and three county staff had been cooks.\\n\\nMPM is a premier on-line market for connecting consumers with residence improvement firms. MPM’s contractor-matching algorithm instantly finds you a quantity of pros in your space who can provide you with estimates. MPM does not provide contractor providers itself, and it doesn't characterize any individual contractors or companies. Keep in mind although that the one references you'll get are people who the contractor is definite will give him a great evaluate. You'd also be nicely advised to verify on-line evaluation sources in Mesa as well, which provides you with a broader view of buyer satisfaction for a given firm. Since its incorporation in 1997, Superior Demolition Inc. has turn into one of Denver’s leading demo contractors, serving residential and business shoppers. They're equipped to deal with all your demo & wrecking wants.\\n\\nVirtually punch your card every time you go to your local Rita’s location. Be among the first to obtain news as it occurs.Sign up hereand choose your particular news focus and delivery preferences and make sure to observe Douglas County onNextdoor,Facebook,Twitter,InstagramandYouTube. Register toreceive Live Town Hall notificationsto ensure you are contacted to take part in future neighborhood conversations about topics you care about. Crews pour concrete over rebar to type the road surface of a new bridge as a half of the Waterton Road extension project in northwest Douglas County. You can’t see it, but inside each roadway bridge is foundational material, known as rebar, that secures the structural integrity of the concrete highway floor.\\n\\nHardscape design and installation companies from Mountain Sky Landscaping & Pools can flip your yard into the out of doors space of your desires. Reach out to a flooring set up and restore professional close to you to see which kind you must install in your house. Castle Rock Construction Company, has a large and skilled group of project managers with an average... Great communication and administration of expectations, particularly as climate impacted our timeline. Windows Request estimates for one window or windows in your entire home. Located solely 20 minutes north of Castle Rock, Denver Concrete Inc neighbors Castle Rock.  The staff at ESI is very educated, reliable, customer friendly, fast to respond, and the work product is great. We extremely advocate ESi, as they've been a valued vendor partner of ours for over 5 years. We contracted ESI for two of our commercial property building giant parking lots which were in want of fairly a bit of repairs.\\n\\nWe actually adore it when we get invited to an open house or an event where we've done creative concrete work for a happy customer. So usually we see somebody in a conversation that starts with “I just love your floor…” and yup, fairly quickly they're reaching down after gasping “no way! They should prove it to themselves it isn't slate, Colorado blue stone, cobble, river rock, brick, or any other of a selection of supplies in addition to good old concrete. Come on, you at all times love watching those sort of reactions, admit it, savvy homeowner or business buyer you are. Call us for a free quote on getting those stunned gasps over your new stunning, inventive concrete project. Our experienced artisans do all the exhausting work, and also you get all the envy and delight for being so sensible to make use of fairly priced, smart concrete.\\n\\nGarages Estimate the price of including storage space with a brand new garage. By signing up below, I give Rita’s permission to contact me about me about news and provides. Rita’s respects your privateness and promises never to rent, promote, or distribute your private information. Download the Rita’s app to start incomes factors towards a free treat.\\n\\nCarter Lumber has the latest in up to date kitchen designs, plus top-quality fixtures for your kitchen renovations, together with gorgeous kitchen cupboards to create your dream kitchen. Our trusted delivery providers can save your organization time and money.\\n\\nLaminate flooring can additionally be scratch-prone, straightforward to clean and preserve, and proof against moisture. Concrete contractor near you for assist deciding on the right floor concrete sealer.\\n\\nBetter Business Bureau accredited since 2000, Munson Excavating Inc. serves Colorado Springs, CO and surrounding areas. They are excavating and demolition consultants, however they carry out a variety of other services, too, like grading, land clearing, and site growth. Solid Rock Excavation brings more than 50 years of trade expertise to the job website.\\n\\nA & M Site Services is a full-service demolition, excavation, and website work contractor. They have been operating out of the Denver space since 1994. Their popularity is certainly one of efficiency, clear project improvement, and quality workmanship. Decorative Concrete Looking for a singular and enticing look for your business? Decorative Concrete offers many methods to realize a utterly unique look for your industrial building. We want to contribute as much as we can for the benefit of our clients so we offer in-home consultations, phone discussions, and other free providers the place we are in a position to speak about ideas and inquiries.\\n\\nFour Wreckers Used In Poudre Canyon Recovery of a Concrete Truck - New Country 99.1\\n\\nFour Wreckers Used In Poudre Canyon Recovery of a Concrete Truck.\\n\\nPosted: Tue, 14 Sep 2021 use this linktry this web-site 07:00:00 GMT [ source]\\n\\nHardscape design and set up companies from Mountain Sky Landscaping & Pools can flip your yard into the outside house of your dreams. We provide concrete patio set up Castle Rock trusts, in addition to everything you should full a project together with decorative paving stone and retaining walls.\\n\\nThrough our providers, you'll have the ability to simply give your driveways, walkways, pavements, and patios the functional touch they require. The website on your new driveway will determine prices and the work required for your contractor. First, the ground should be excavated to lay a clear path. Next, the driveway contractor will grade the realm, making a level floor for the concrete or asphalt.\\n\\nBefore you realize it, you’ll be succesful of use your driveway once more for every little thing from parking your automobile or having fun with a recreation of driveway basketball. By putting, finishing, defending and repairing concrete in engineering and building tasks. Where your price drops relies upon upon the number of steps and in addition the dimension of the steps you want. Putting cement has to do with $300 per action at 2 feet huge and also 11 inches deep, consisting of materials in addition to labor. For more recommendations on choosing the best flooring for canines, talk to probably the greatest flooring set up professionals close to you. Remember that stable hardwood is prone to break, together with dents, scratching, licking and accidents.\\n\\nCall us today for a free session and to get started with your asphalt or concrete paving or excavation project. As a full-service concrete contractor, Renovations Landscaping is ready to take away and recycle your present patio then start preparing for the brand new stamped concrete/cement patio in Castle Rock and Parker. Whether you need cement sidewalks, a concrete foundation or a stamped concrete driveway in Parker and Castle Rock. We have labored on thousands of Commercial and Residential concrete projects throughout Castle Rock Colorado. A prime priority of our Residential concrete job is to get our client’s jobs accomplished right and on schedule. Frank Skradski Site Services serves all of Lakewood and Denver, CO. They focus on all issues website development, together with demolition, concrete elimination, junk removing, and hauling providers. Concrete Paving Wolf Concrete Construction is proud to supply concrete paving services.\\n\\nReetz Excavating presents complete demolition and excavating services to Denver, Colorado and surrounding areas, including barn demolition and concrete elimination. We present unbeatable workmanship at a fair worth by working closely with our prospects. We’re Colorado’s premier provider of excavation, demolition, and concrete removal. We work with clients one-on-one to complete the project effectively and inexpensive. We’re outfitted to handle your whole concrete removing needs by using state-of-the-art heavy tools to get the job carried out rapidly and safely. We work with residential and business shoppers all throughout the state. The solely concrete restore contractors we advocate are solely firms that we might rent for our personal home!\\n\\nWe'll restore your sunken concrete within the Denver Metro area. Your native Better Business Bureau can assist you with discovering companies and charities you probably can belief. Check Us out on Flickr, Denver Concrete Inc. is always updating photos on tasks that we full in and around the Denver Metro area.\\n\\nWe hoped it will go away over time or with a great energy wash. One of the greatest benefits of any company is the love of the enterprise that the owner has for his design and construction. Design Your Dream Kitchen with Premium, Premium Cabinets provides skilled format, design and set up. We are a leading environmentally and socially progressive heavy building materials firm located within the japanese United States.\",\n                \"root_url\": \"http://concretecastlerock89864.ampblogs.com/\",\n                \"domain_url\": \"http://ampblogs.com/\",\n                \"host_url\": \"http://concretecastlerock89864.ampblogs.com/\",\n                \"parent_url\": \"http://concretecastlerock89864.ampblogs.com/Denver-Concrete-Inc-In-Castle-Rock-Co-44294762\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"BLOG\",\n                    \"BLOG_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"noise_level\": 100,\n                \"noise_category\": \"seo_scam\",\n                \"tokens_title\": [\n                    \"Castle Rock\",\n                    \"Castle Rock\",\n                    \"Denver Concrete\",\n                    \"Denver Concrete\",\n                    \"Rock\",\n                    \"Rock\",\n                    \"Castle\",\n                    \"Castle\",\n                    \"Denver\",\n                    \"Denver\"\n                ],\n                \"tokens_content\": [\n                    \"Poudre Canyon Recovery\",\n                    \"Poudre Canyon Recovery\",\n                    \"Poudre Canyon Recovery\",\n                    \"State License Board\",\n                    \"Live Town Hall\",\n                    \"Director Marin Fox\",\n                    \"Elevated Decks Post-tensioned\",\n                    \"Concrete Firm Colorado\",\n                    \"Rock Concrete Firm\",\n                    \"HomeAdvisor Community Rating\"\n                ],\n                \"videos\": [\n                    {\n                        \"url\": \"http://www.youtube.com/watch?v=kPbF4sM9bDk\"\n                    }\n                ],\n                \"tags_internal\": [\n                    \"isQuestion\",\n                    \"containsVideo\"\n                ],\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 0,\n                    \"alexa_unique_visitors\": 0\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:concretecastlerock89864.ampblogs.com-1964522747\",\n                    \"name\": \"concretecastlerock89864.ampblogs.com\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"Washington, D.C.\",\n                        \"city\": \"Washington, D.C.\",\n                        \"longitude\": -77.0086669921875,\n                        \"latitude\": 38.89984130859375,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:concretecastlerock89864.ampblogs.com\",\n                    \"name\": \"concretecastlerock89864.ampblogs.com\"\n                },\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://media.istockphoto.com/photos/sidewalk-trouble-picture-id528914204?k=20&m=528914204&s=612x612&w=0&h=-XBXDZdxJ9A-JpvvmYOI3xQrZpr3TiBhs52XrV87dAM=\"\n                    },\n                    {\n                        \"url\": \"https://connerdfyuo.therainblog.com/11324944/high-25-concrete-contractors-in-castle-rock-co\"\n                    },\n                    {\n                        \"url\": \"https://newcountry991.com/four-wreckers-used-in-poudre-canyon-recovery-of-a-concrete-truck/\"\n                    },\n                    {\n                        \"url\": \"9News.com\"\n                    },\n                    {\n                        \"url\": \"https://www.youtube.com/embed/kPbF4sM9bDk\"\n                    },\n                    {\n                        \"url\": \"https://knoxsjwkb.humor-blog.com/11198248/concrete-contractor-castle-rock-co\"\n                    },\n                    {\n                        \"url\": \"https://www.9news.com/article/traffic/heat-road-buckles-plum-creek/73-4deb0d44-6470-484c-a4b6-0e1f4a562b8a\"\n                    },\n                    {\n                        \"url\": \"https://concreteincastlerock59269.madmouseblog.com/9909405/degree-concrete-with-denver-concrete-inc-in-co\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"NEW\"\n                },\n                \"word_count\": 2321\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Denver Concrete Inc. In Castle Rock, Co\",\n                    \"content_snippet\": \"While getting a manicure or pedicure is often seen as a luxurious for individuals, proper nail care is a necessity for <b>dogs</b> <b>and</b> <b>cats</b>. House members to vote towards supporting the folks of Ukraine on Wednesday. And should you save a search or...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://news.cgtn.com/news/2022-03-07/Polish-charity-takes-care-of-pets-evacuated-from-Ukraine-18czwnCq9I4/index.html\",\n                \"indexed\": 1646659158766,\n                \"search_indexed\": 1646659183599,\n                \"published\": 1646654520000,\n                \"title\": \"Polish charity takes care of pets evacuated from Ukraine\",\n                \"content\": \"A Polish animal charity is offering assistance to pets evacuated from Ukraine, where violence and destruction continue.\\n\\nADA Foundation, run by Radek and Jakub, has been operating for 30 years in Przemysl, a Polish city ...\",\n                \"root_url\": \"https://news.cgtn.com/\",\n                \"domain_url\": \"http://cgtn.com/\",\n                \"host_url\": \"http://news.cgtn.com/\",\n                \"parent_url\": \"https://news.cgtn.com/news/2022-03-07/Polish-charity-takes-care-of-pets-evacuated-from-Ukraine-18czwnCq9I4/index.html\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_OTHER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"Polish charity takes\",\n                    \"pets evacuated\",\n                    \"Polish charity\",\n                    \"from Ukraine\",\n                    \"charity takes\",\n                    \"Polish\",\n                    \"Polish\",\n                    \"Ukraine\",\n                    \"Ukraine\",\n                    \"pets\"\n                ],\n                \"tokens_content\": [\n                    \"Ukraine\",\n                    \"Ukraine\",\n                    \"Ukraine\",\n                    \"Polish\",\n                    \"Polish\",\n                    \"Jakub\",\n                    \"Ukrainian\",\n                    \"Lviv\",\n                    \"Przemysl\",\n                    \"Poland\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://news.cgtn.com/news/2022-03-07/Polish-charity-takes-care-of-pets-evacuated-from-Ukraine-18czwnCq9I4/img/1834769342c348a1be72143000d39902/1834769342c348a1be72143000d39902-750.png\"\n                    }\n                ],\n                \"cluster_id\": \"https://news.cgtn.com/news/2022-03-07/Polish-charity-takes-care-of-pets-evacuated-from-Ukraine-18czwnCq9I4/index.html\",\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"article_extended_attributes\": {\n                    \"facebook_shares\": 118,\n                    \"facebook_likes\": 2039,\n                    \"twitter_shares\": 8,\n                    \"num_comments\": 122\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 549000,\n                    \"alexa_unique_visitors\": 392142\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:news.cgtn.com-3051998\",\n                    \"name\": \"cgtn\",\n                    \"gender\": \"UNKNOWN\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Asia\",\n                        \"country\": \"China\",\n                        \"region\": \"Beijing\",\n                        \"city\": \"Beijing\",\n                        \"longitude\": 116.3836669921875,\n                        \"latitude\": 39.92706298828125,\n                        \"country_code\": \"cn\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:news.cgtn.com\",\n                    \"name\": \"news.cgtn.com\"\n                },\n                \"engagement\": 2287,\n                \"reach\": 392142,\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 119,\n                \"trending_score\": 2\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Polish charity takes care of pets evacuated from Ukraine\",\n                    \"content_snippet\": \"...with Ukraine. The charity normally gives shelter to abandoned animals like <b>cats</b>, <b>dogs</b>, goats, <b>and</b> even bears. But their priority now is to provide food and medical assistance to pets evacuated from Ukraine.\\n\\nSince the beginning of the Ukrainian...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.independent.co.uk/news/uk/politics/ukraine-pets-cats-dogs-passport-rabies-uk-b2034789.html\",\n                \"indexed\": 1647184557895,\n                \"search_indexed\": 1647184561987,\n                \"published\": 1647181131000,\n                \"title\": \"Ukrainian refugees: UK set to waive red tape for pets\",\n                \"content\": \"Ukrainian refugees who carried their pets as they fled their homes will be allowed to bring the animals into the UK without p...\",\n                \"root_url\": \"https://www.independent.co.uk/\",\n                \"domain_url\": \"http://independent.co.uk/\",\n                \"host_url\": \"http://www.independent.co.uk/\",\n                \"parent_url\": \"https://www.independent.co.uk/news/uk/politics/ukraine-pets-cats-dogs-passport-rabies-uk-b2034789.html\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_NEWSPAPER\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"waive red tape\",\n                    \"for pets\",\n                    \"waive red\",\n                    \"red tape\",\n                    \"Ukrainian refugees\",\n                    \"Ukrainian\",\n                    \"Ukrainian\",\n                    \"pets\",\n                    \"refugees\",\n                    \"waive\"\n                ],\n                \"tokens_content\": [\n                    \"The International Fund\",\n                    \"Animal Welfare\",\n                    \"The International\",\n                    \"Zac Goldsmith\",\n                    \"The Independent\",\n                    \"International Fund\",\n                    \"George Eustice\",\n                    \"Ukrainian\",\n                    \"Ukrainian\",\n                    \"Ukrainian\"\n                ],\n                \"images\": [\n                    {\n                        \"url\": \"https://static.independent.co.uk/2022/03/13/12/newFile-1.jpg?width=1200\"\n                    }\n                ],\n                \"cluster_id\": \"https://latestpagenews.com/news/government-working-out-how-ukrainians-can-bring-their-pets-to-the-uk/\",\n                \"tags_internal\": [\n                    \"containsImage\",\n                    \"hasImage\"\n                ],\n                \"article_extended_attributes\": {\n                    \"facebook_shares\": 47,\n                    \"facebook_likes\": 549,\n                    \"twitter_shares\": 127,\n                    \"num_comments\": 144\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 13000000,\n                    \"alexa_unique_visitors\": 10833333\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.independent.co.uk-884608662\",\n                    \"name\": \"Jane Dalton\",\n                    \"gender\": \"FEMALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"Europe\",\n                        \"country\": \"United Kingdom\",\n                        \"region\": \"Greater London\",\n                        \"city\": \"London\",\n                        \"longitude\": -0.1153564453125,\n                        \"latitude\": 51.50115966796875,\n                        \"country_code\": \"uk\",\n                        \"resolution\": \"COUNTRY\"\n                    },\n                    \"id\": \"ex:www.independent.co.uk\",\n                    \"name\": \"www.independent.co.uk\"\n                },\n                \"engagement\": 867,\n                \"reach\": 10833333,\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://indy-web-prod.brightsites.co.uk/topic/cats\"\n                    },\n                    {\n                        \"url\": \"https://indy-web-prod.brightsites.co.uk/topic/dogs\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 580,\n                \"trending_score\": 0\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Ukrainian refugees: UK set to waive red tape for pets\",\n                    \"content_snippet\": \"...for the victims of war to keep their <b>cats</b> <b>and</b> <b>dogs</b> with them rather than abandoning them in countries en route to the UK ... UK quarantine facilities.\\n\\nUkrainian <b>dogs</b> <b>and</b> <b>cats</b> that have already been vaccinated should not need to be quarantined.\\n\\nAnd...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_RESULT\",\n    \"chunk_result\": {\n        \"data\": {\n            \"data\": {\n                \"url\": \"https://www.medscape.com/viewarticle/970330\",\n                \"indexed\": 1647377263234,\n                \"search_indexed\": 1647377282913,\n                \"published\": 1647375471240,\n                \"title\": \"Navigating Patient Requests for an Emotional Support Animal\",\n                \"content\": \"When Serena-Lian Sakheim-Devine's best friend from childhood died of cancer, she felt sad and lonely while away at college. Wanting something warm to snuggle, she got a guinea pig and named her Basil. Then she got two mo...\",\n                \"root_url\": \"https://www.medscape.com/\",\n                \"domain_url\": \"http://medscape.com/\",\n                \"host_url\": \"http://www.medscape.com/\",\n                \"parent_url\": \"https://www.medscape.com/viewarticle/970330\",\n                \"lang\": \"en\",\n                \"porn_level\": 0,\n                \"fluency_level\": 100,\n                \"DEPRECATED_spam_level\": 0,\n                \"sentiment\": 0,\n                \"source_type\": [\n                    \"ONLINENEWS\",\n                    \"ONLINENEWS_MAGAZINE\"\n                ],\n                \"post_type\": [\n                    \"TEXT\"\n                ],\n                \"tokens_title\": [\n                    \"Emotional Support Animal\",\n                    \"Emotional Support Animal\",\n                    \"Navigating Patient Requests\",\n                    \"Navigating Patient Requests\",\n                    \"Patient Requests\",\n                    \"Patient Requests\",\n                    \"Navigating Patient\",\n                    \"Navigating Patient\",\n                    \"Support Animal\",\n                    \"Support Animal\"\n                ],\n                \"tokens_content\": [\n                    \"Colorado Anschutz Medical\",\n                    \"American Kennel Club\",\n                    \"Emotional Support Animal\",\n                    \"Stanford University School\",\n                    \"Support Animal Mar\",\n                    \"Yale University School\",\n                    \"Anschutz Medical Campus\",\n                    \"Canine Good Citizen\",\n                    \"Connecticut Mental Health\",\n                    \"When Serena-Lian Sakheim-Devine\"\n                ],\n                \"cluster_id\": \"https://www.medscape.com/viewarticle/970330\",\n                \"article_extended_attributes\": {\n                    \"facebook_shares\": 5,\n                    \"twitter_shares\": 7\n                },\n                \"source_extended_attributes\": {\n                    \"alexa_pageviews\": 8200000,\n                    \"alexa_unique_visitors\": 3727272\n                },\n                \"extra_author_attributes\": {\n                    \"id\": \"ex:www.medscape.com-1314006579\",\n                    \"name\": \"susan kreimer\",\n                    \"gender\": \"FEMALE\"\n                },\n                \"extra_source_attributes\": {\n                    \"world_data\": {\n                        \"continent\": \"North America\",\n                        \"country\": \"United States\",\n                        \"region\": \"New York\",\n                        \"city\": \"New York City\",\n                        \"longitude\": -73.9764404296875,\n                        \"latitude\": 40.75103759765625,\n                        \"country_code\": \"us\",\n                        \"resolution\": \"CITY\"\n                    },\n                    \"id\": \"ex:www.medscape.com\",\n                    \"name\": \"www.medscape.com\"\n                },\n                \"engagement\": 12,\n                \"reach\": 3727272,\n                \"entity_url\": [\n                    {\n                        \"url\": \"https://emedicine.medscape.com/article/805084-overview\"\n                    },\n                    {\n                        \"url\": \"https://emedicine.medscape.com/article/288154-overview\"\n                    },\n                    {\n                        \"url\": \"https://emedicine.medscape.com/article/1934139-overview\"\n                    },\n                    {\n                        \"url\": \"https://www.hud.gov/program_offices/fair_housing_equal_opp/assistance_animals\",\n                        \"resolved_url\": \"https://www.hud.gov/program_offices/fair_housing_equal_opp/assistance_animals\"\n                    }\n                ],\n                \"matched\": {\n                    \"appearance\": \"UPDATED\"\n                },\n                \"word_count\": 1472,\n                \"trending_score\": 0\n            },\n            \"highlighted_data\": [\n                {\n                    \"title_snippet\": \"Navigating Patient Requests for an Emotional Support Animal\",\n                    \"content_snippet\": \"...organization in Long Beach, New York, that partners with shelters <b>and</b> animal welfare groups to adopt <b>dogs</b> <b>and</b> <b>cats</b> for companionship and emotional support. She said an ESA can be \"a wonderful complement to other forms of therapy that a veteran may...\",\n                    \"matched\": {\n                        \"collector_query_ids\": [\n                            \"rule_1\"\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n}\n{\n    \"chunk_type\": \"CT_CONTROL\",\n    \"chunk_control\": {\n        \"connection_id\": \"#r8vnr4egi39d#\",\n        \"resume_offset\": \"EgWoi92qAQ\",\n        \"collector_id\": \"collector_1\"\n    }\n}"
              schema:
                type: string
          description: OK
      summary: Read a collector
      tags:
      - Streaming API > Collector API
  /api/v3/stream/c/{collector_id}/resume:
    post:
      parameters:
      - example: collector_1
        in: path
        name: collector_id
        required: true
        schema:
          type: string
      requestBody:
        content: {}
      responses:
        '200':
          content:
            application/json:
              example:
                request: POST /api/v3/stream/c/collector_1/resume?access_token=abcd_1234_abcd
                request_id: '#r8uhzh873klp#'
                result_stream:
                  collectors:
                  - collector_id: collector_1
                    state: ACTIVE
                status_code: '0'
                status_message: OK
              schema:
                type: object
          description: OK
      summary: Resume a collector
      tags:
      - Streaming API > Collector API
components:
  securitySchemes:
    apikeyAuth:
      in: query
      name: access_token
      type: apiKey
externalDocs:
  description: Find more info here or there
  url: https://apidocs.talkwalker.com/
